<!doctype html>
<html lang="zh-CN">
<head>
{include file="public/header" /}
</head>

<body class="user-select">
<section class="container-fluid">
  <header>
   <!-- 顶部一行 -->
    {include file="public/top" /}
  </header>
  <div class="row">
    <aside class="col-sm-3 col-md-2 col-lg-2 sidebar">
     {include file="public/left" /}

    </aside>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
      <div class="row">
        <form action="{:url('index/postMessage')}" method="post" class="add-article-form">
          <div class="col-md-9">
            <h1 class="page-header">撰写通知</h1>
            <div class="form-group">
              <label for="article-title" class="sr-only">接收者</label>
              <input type="text" id="article-title" name="name" class="form-control" placeholder="在此处输入接收者用户名" required autofocus autocomplete="off">
            </div>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>通知内容</span></h2>
              <div class="add-article-box-content">
              	<textarea class="form-control" name="content"  required autofocus autocomplete="off">XX同学你好，你最近发的菜谱未通过审核，请重新发送合法的内容。</textarea>
                <span class="prompt-text">这是给用户发送的各种通知内容</span>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <h1 class="page-header">操作</h1>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>发布</span></h2>
              <div class="add-article-box-footer">
                <button class="btn btn-primary" type="submit" name="submit">发布</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{include file="public/footer" /}
<!--summernote富文本编辑器-->
<link rel="stylesheet" type="text/css" href="lib/summernote/summernote.css">
<script src="lib/summernote/summernote.js"></script> 
<script src="lib/summernote/lang/summernote-zh-CN.js"></script> 
<script>
$('#article-content').summernote({
	lang: 'zh-CN'
});
</script>
</body>
</html>