<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>菜谱大全_美食天下</title>
<meta name="keywords" content="菜谱,菜谱大全,家常菜谱大全,菜谱家常菜做法,家常菜图片做法大全" />
<meta name="description" content="" />
<meta name="renderer" content="webkit">
<link rel="stylesheet" type="text/css" href="__CSS__/wwwindex2.css">
<link rel="stylesheet" type="text/css" href="__CSS__/all.css">
<link rel="stylesheet" type="text/css" href="__CSS__/recipe2.css">
<script type="text/javascript" src="__JS__/jquery-1.12.3.min.js"></script>
</head>
<body>
{include file="public/header"}
<div>
<div class="w logo_wrap2">
	<div class="logo_inner left">
	<a href="/" title="美食天下">美食天下</a>
	</div>
	<div class="logo_current left">
	<h1><a href="http://home.meishichina.com/recipe.html" title="菜谱">菜谱</a></h1>
	</div>
	<div class="logo_search right">
	<form id="form_search" action="http://home.meishichina.com/search/" method="post" target="_blank">
	<div class="searchBox J_search"><a href="javascript:;" title="搜索" class="search_Btn J_searchBTN right" id="search">搜索</a><input type="text" id="q" class="search_Text J_searchTxt right gay" data-first="on">
	</div>
	</form>
	</div>
	<div class="logo_nav">
	<a class=on href="http://home.meishichina.com/recipe.html">菜谱首页<i></i><b></b></a>
	<a href="http://home.meishichina.com/recipe-type.html">分类<i></i><b></b></a>
	<a href="http://home.meishichina.com/collect-list-type-recipe.html">菜单<i></i><b></b></a>
	<a href="http://home.meishichina.com/show-top-type-recipe.html">排行<i></i><b></b></a>
	<span style="float: left; height:18px; margin:23px 4px 0; border-right: 1px solid #ddd;"></span>
	<a target="_blank" href="http://www.meishichina.com/YuanLiao/" title="食材">食材</a>
	<a target="_blank" href="http://www.meishichina.com/YuanLiao/gongxiao/" title="食疗食补">食疗食补</a>
	</div>
</div>
<div class="nav_wrap2">
<ul>
	<li><a href="http://home.meishichina.com/recipe.html" class="on">首页</a></li>
	<li><a title="热菜" href="http://home.meishichina.com/recipe/recai/">热菜</a></li>
	<li><a title="凉菜" href="http://home.meishichina.com/recipe/liangcai/">凉菜</a></li>
	<li><a title="汤羹" href="http://home.meishichina.com/recipe/tanggeng/">汤羹</a></li>
	<li><a title="主食" href="http://home.meishichina.com/recipe/zhushi/">主食</a></li>
	<li><a title="小吃" href="http://home.meishichina.com/recipe/xiaochi/">小吃</a></li>
	<li><a title="最新菜谱" href="http://home.meishichina.com/recipe-list.html">最新菜谱</a></li>
	<li id="navlist" class="right"><a class="navlist_a" href="javascript:void(0);">浏览全部菜谱<i></i><b></b></a></li>
</ul>
</div>
<div class="wrap">
<div class="w clear">

	<div id="recipeindex_info">
		<div id="recipeindex_info_wrap">
		<div class="ui_title">
			<div class="ui_title_wrap clear">
				<h3 class="on"><a href="javascript:void(0);" status="" >最新推荐</a></h3>
				<h3><a href="javascript:void(0);" status="" >最新发布</a></h3>
				<h3><a href="javascript:void(0);" status="2" >热菜</a></h3>
				<h3><a href="javascript:void(0);" status="3" >凉菜</a></h3>
				<h3><a href="javascript:void(0);" status="4" >汤羹</a></h3>
			</div>
		</div>
		</div>
	</div>
	<div class="big4_list clear mt10" id="recipeindex_living">
			<ul class="on">
				{if $data}
				{foreach $data as $value}
					<li>
					<a title="{$value['bookname']}" href="http://home.meishichina.com/recipe-352396.html" target="_blank">
					<i>
					<img alt="{$value['bookname']}" class="imgLoad" src="{$value['photo']}">
					</i>
					<p>{$value['bookname']}</p>
					</a>
					<a title="{$value['username']}" href="http://home.meishichina.com/space-8419178.html" target="_blank" class="u">{$value['username']}</a>
					</li>
				{/foreach}
				{/if}
			</ul>
			<ul>
					<li>
					<a title="焖烧南瓜" href="http://home.meishichina.com/recipe-352396.html" target="_blank">
					<i>
					<img alt="焖烧南瓜" class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/recipe/2017/10/12/20171012150777326335213.jpg">
					</i>
					<p>焖烧南瓜</p>
					</a>
					<a title="铸味坊" href="http://home.meishichina.com/space-8419178.html" target="_blank" class="u">铸味坊</a>
					</li>
					<li>
					<a title="芋泥酥" href="http://home.meishichina.com/recipe-352382.html" target="_blank">
					<i>
					<img alt="芋泥酥" class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/recipe/2017/10/12/20171012150777254053913.jpg">
					</i>
					<p>芋泥酥</p>
					</a>
					<a title="老虎林" href="http://home.meishichina.com/space-9262670.html" target="_blank" class="u">老虎林</a>
					</li>
					<li>
					<a title="香菇青菜" href="http://home.meishichina.com/recipe-352395.html" target="_blank">
					<i>
					<img alt="香菇青菜" class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/recipe/2017/10/12/20171012150777279344513.jpg">
					</i>
					<p>香菇青菜</p>
					</a>
					<a title="英英菜谱" href="http://home.meishichina.com/space-6968441.html" target="_blank" class="u">英英菜谱</a>
					</li>
			</ul>
			<ul>

					<li>
					<a title="红油豆瓣酱烧鲤鱼" href="http://home.meishichina.com/recipe-352104.html" target="_blank">
					<i>
					<img alt="红油豆瓣酱烧鲤鱼" class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/recipe/2017/10/12/20171012150777181048613.jpg@!c320">
					</i>
					<p>红油豆瓣酱烧鲤鱼</p>
					</a>
					<a title="烟雨心灵" href="http://home.meishichina.com/space-1846401.html" target="_blank" class="u">烟雨心灵</a>
					</li>
					<li>
					<a title="素炒三丝" href="http://home.meishichina.com/recipe-352022.html" target="_blank">
					<i>
					<img alt="素炒三丝" class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/recipe/2017/10/12/20171012150777210459613.jpg@!c320">
					</i>
					<p>素炒三丝</p>
					</a>
					<a title="烟雨心灵" href="http://home.meishichina.com/space-1846401.html" target="_blank" class="u">烟雨心灵</a>
					</li>
			</ul>
			<ul>
					<li>
					<a title="香辣卤猪心" href="http://home.meishichina.com/recipe-352358.html" target="_blank">
					<i>
					<img alt="香辣卤猪心" class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/recipe/2017/10/11/20171011150773419997313.jpg@!c320">
					</i>
					<p>香辣卤猪心</p>
					</a>
					<a title="老方小雨" href="http://home.meishichina.com/space-9179877.html" target="_blank" class="u">老方小雨</a>
					</li>
			</ul>
			<ul>
					<li>
					<a title="菌茹筒骨煲" href="http://home.meishichina.com/recipe-352364.html" target="_blank">
					<i>
					<img alt="菌茹筒骨煲" class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/recipe/2017/10/12/20171012150777218693113.jpg@!c320">
					</i>
					<p>菌茹筒骨煲</p>
					</a>
					<a title="心在乌云上2013" href="http://home.meishichina.com/space-9694186.html" target="_blank" class="u">心在乌云上2013</a>
					</li>
					<li>
					<a title="西湖牛肉羹" href="http://home.meishichina.com/recipe-352215.html" target="_blank">
					<i>
					<img alt="西湖牛肉羹" class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/recipe/2017/10/11/20171011150769258336913.jpg@!c320">
					</i>
					<p>西湖牛肉羹</p>
					</a>
					<a title="英英菜谱" href="http://home.meishichina.com/space-6968441.html" target="_blank" class="u">英英菜谱</a>
					</li>
					<li>
					<a title="婴儿辅食-肉末蒸鸡蛋" href="http://home.meishichina.com/recipe-352205.html" target="_blank">
					<i>
					<img alt="婴儿辅食-肉末蒸鸡蛋" class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/recipe/2017/10/11/20171011150768754750013.jpg@!c320">
					</i>
					<p>肉末蒸鸡蛋</p>
					</a>
					<a title="搬个凳子看戏" href="http://home.meishichina.com/space-78346.html" target="_blank" class="u">搬个凳子看戏</a>
					</li>
			</ul>
			<ul>
					<li>
					<a title="手工玉米面馒头" href="http://home.meishichina.com/recipe-352378.html" target="_blank">
					<i>
					<img alt="手工玉米面馒头" class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/recipe/2017/10/12/20171012150777217438613.jpg@!c320">
					</i>
					<p>手工玉米面馒头</p>
					</a>
					<a title="英英菜谱" href="http://home.meishichina.com/space-6968441.html" target="_blank" class="u">英英菜谱</a>
					</li>
					<li>
					<a title="五彩疙瘩面" href="http://home.meishichina.com/recipe-352384.html" target="_blank">
					<i>
					<img alt="五彩疙瘩面" class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/recipe/2017/10/12/20171012150777195435513.jpg@!c320">
					</i>
					<p>五彩疙瘩面</p>
					</a>
					<a title="hb俗人" href="http://home.meishichina.com/space-10224823.html" target="_blank" class="u">hb俗人</a>
					</li>
			</ul>
			<ul>
					<li>
					<a title="外焦里糯的烤薯条" href="http://home.meishichina.com/recipe-352372.html" target="_blank">
					<i>
					<img alt="外焦里糯的烤薯条" class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/recipe/2017/10/12/20171012150777297678113.jpg@!c320">
					</i>
					<p>外焦里糯的烤薯条</p>
					</a>
					<a title="大海微澜" href="http://home.meishichina.com/space-1499680.html" target="_blank" class="u">大海微澜</a>
					</li>
					<li>
					<a title="蛋黄焗南瓜" href="http://home.meishichina.com/recipe-352347.html" target="_blank">
					<i>
					<img alt="蛋黄焗南瓜" class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/recipe/2017/10/11/20171011150773090915013.jpg@!c320">
					</i>
					<p>蛋黄焗南瓜</p>
					</a>
					<a title="HI花花儿" href="http://home.meishichina.com/space-8697913.html" target="_blank" class="u">HI花花儿</a>
					</li>
					<li>
					<a title="糯米蔓越莓粘粑粑" href="http://home.meishichina.com/recipe-352298.html" target="_blank">
					<i>
					<img alt="糯米蔓越莓粘粑粑" class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/recipe/2017/10/11/20171011150772346722813.jpg@!c320">
					</i>
					<p>糯米蔓越莓粘粑粑</p>
					</a>
					<a title="我爱夏天冬天" href="http://home.meishichina.com/space-1412763.html" target="_blank" class="u">我爱夏天冬天</a>
					</li>
			</ul>
	</div>
	<div class="ui-loading mt10" id="recipeindex_living_loading"> <a href="javascript:void(0);" class="">查看更多</a> </div>
</div>
</div>
{include file="public/footer"}
</div>
<script type="text/javascript" src="__JS__/all.js"></script>
<!-- <script type="text/javascript" src="__JS__/get_num.js"></script> -->
<!-- <script type="text/javascript" src="__JS__/recipe_navlist.js"></script> -->


 </body>
</html>
