<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>话题_美食天下</title>
<meta name="keywords" content="话题" />
<meta name="description" content="话题" />
<meta name="renderer" content="webkit">
<meta http-equiv="mobile-agent" content="format=xhtml; url=http://m.meishichina.com/pai/">
<link rel="shortcut icon" href="http://static.meishichina.com/v6/img/lib/f.ico"/>
<link rel="apple-touch-icon" href="http://static.meishichina.com/v6/img/lib/wapico.png" />
<link rel="stylesheet" type="text/css" href="css/all.css">
<link rel="stylesheet" type="text/css" href="css/pai2.css" />
</head>
<body>
<div class="top-bar" id="J_top_bar">
<ul class="bar-left left">
<li><a title="美食天下" href="http://www.meishichina.com/" target="_blank" class="top_bar_logo"><i>美食天下</i>首页</a></li>
<li> <a title="菜谱" href="http://home.meishichina.com/recipe.html" target="_blank">菜谱</a></li>
<li> <a title="食材" href="http://www.meishichina.com/YuanLiao/" target="_blank">食材</a></li>
<li> <a title="珍选" href="http://zhen.meishichina.com/" target="_blank">珍选</a></li>
<li> <a title="健康" href="http://www.meishichina.com/Health/" target="_blank">健康</a></li>
<li> <a title="专题" href="http://www.meishichina.com/mofang/" target="_blank">专题</a></li>
<li> <a title="社区" href="http://home.meishichina.com/" target="_blank">社区</a></li>
<li> <a title="话题" href="http://home.meishichina.com/pai.html" target="_blank">话题</a></li>
<li> <a title="活动" href="http://home.meishichina.com/event/" target="_blank">活动</a></li>
<li> <a title="搜索" href="http://home.meishichina.com/search/" target="_blank">搜索</a></li>
<li class="top_bar_more"><i></i>
<div>
<a title="烘焙" href="http://hongbei.meishichina.com/" target="_blank">烘焙</a>
<a title="妈妈派" href="http://mamapai.meishichina.com/" target="_blank">妈妈派</a>
</div>
</li>
</ul>
<a href="http://www.meishichina.com/Mobile/" target="_blank" class="nr3"><img src="picture/nr3.png" width=18 height=18>客户端<img src="picture/msc_app.png" class="code">
</a>
<div class="right" id="J_top_bar_user"></div>
</div>
<div class="w logo_wrap2">
<div class="logo_inner left">
<a href="http://www.meishichina.com/" title="美食天下">美食天下</a>
</div>
<div class="logo_current left">
<h1><a href="http://home.meishichina.com/" title="社区">社区</a></h1>
</div>
<div class="logo_search right">
<form id="form_search" action="http://home.meishichina.com/search/" method="post" target="_blank">
<div class="searchBox J_search"><a href="javascript:;" title="搜索" class="search_Btn J_searchBTN right" id="search">搜索</a><input type="text" id="q" class="search_Text J_searchTxt right gay" data-first="on">
</div>
</form>
</div>
<div class="logo_nav">
<a href="http://home.meishichina.com/" title="社区广场">社区广场<i></i><b></b></a>
<a class="on" href="http://home.meishichina.com/pai.html" title="话题">话题<i></i><b></b></a>
<a href="http://home.meishichina.com/blog/" title="日志">日志<i></i><b></b></a>
<a href="http://home.meishichina.com/event/" title="活动">活动<i></i><b></b></a>
</div>
</div>
<div class="nav_wrap2">
<ul>
<li><a class="on" href="http://home.meishichina.com/pai.html" title="全部">全部</a></li>
<li><a href="http://home.meishichina.com/pai-meishi.html" title="美食随手拍">美食随手拍</a></li>
<li><a href="http://home.meishichina.com/pai-hongbei.html" title="烘焙圈">烘焙圈</a></li>
<li><a href="http://home.meishichina.com/pai-mama.html" title="妈妈派">妈妈派</a></li>
<li><a href="http://home.meishichina.com/pai-yinshi.html" title="饮食健康">饮食健康</a></li>
<li><a href="http://home.meishichina.com/pai-chuyi.html" title="厨艺交流">厨艺交流</a></li>
<li><a href="http://home.meishichina.com/pai-zuimei.html" title="最美之物">最美之物</a></li>
<li><a href="http://home.meishichina.com/pai-shiguang.html" title="美好时光">美好时光</a></li>
<li><a href="http://home.meishichina.com/pai-help.html" title="帮助与反馈">帮助与反馈</a></li>
</ul>
</div>
<div class="w mt10 clear">
<iframe width="100%" height="90" frameborder="0" scrolling="no" src="http://static.meishichina.com/v3/t1_1.html"></iframe>
</div>
<div class="wrap">
<div class="w clear">
<div class="space_left">
<div class="ui_title">
<div class="ui_title_wrap clear ">
<h2 class="on">
话题</h2>
<a class="right " href="http://home.meishichina.com/pai-elite.html" rel="nofollow">精华</a>
<a class="right " href="http://home.meishichina.com/pai-hot.html" rel="nofollow">热门</a>
<a class="right " href="http://home.meishichina.com/pai-new.html">最新</a>
<a class="right on" href="http://home.meishichina.com/pai.html">全部</a>
</div>
</div>
<div class="pin_list clear" id="J_list">
<ul>
<li>
<div class="u">
<a href="http://home.meishichina.com/space-9179877.html" target="_blank" title="老方小雨"><img width="40" height="40" class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/data/avatar/009/17/98/77_avatar_big.jpg@!c120?v=20171012"></a>
<div>
<a href="http://home.meishichina.com/space-9179877.html" class="t" target="_blank" title="老方小雨">老方小雨</a>
<span>15秒前</span>
</div>
</div>
<div class="c clear">
<div class="pp">
<i>精</i><a href="http://home.meishichina.com/pai-824872.html" target="_blank"><strong>2人、36元、一顿饭，如何？下雨又降温好冷，吃完了一起回家</strong><br>天气预报还真是准呢；降温、有雨，一下子全都来了，昨日还可穿短......</a></div>
<a class="clear" href="http://home.meishichina.com/pai-824872.html" target="_blank">
<img class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2017/10/11/2017101115077269613909179877.JPG@!c320">
<img class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2017/10/11/2017101115077269652219179877.JPG@!c320">
<img class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2017/10/11/2017101115077269738339179877.JPG@!c320">
<img class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2017/10/11/2017101115077269736469179877.JPG@!c320">
<b>6</b></a>
<div data-id="824872" class="f"></div>
<div class="num"><span></span></div>
</div>
</li>
<li>
<div class="u">
<a href="http://home.meishichina.com/space-9118742.html" target="_blank" title="满宝妈妈"><img width="40" height="40" class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/data/avatar/009/11/87/42_avatar_big.jpg@!c120?v=20171012"></a>
<div>
<a href="http://home.meishichina.com/space-9118742.html" class="t" target="_blank" title="满宝妈妈">满宝妈妈</a>
<span>8分钟前</span>
</div>
</div>
<div class="c clear">
<div class="pp">
<a href="http://home.meishichina.com/pai-824939.html" target="_blank"><strong>鲜虾皮冻琉璃蛋</strong><br>这个名字是我瞎编的哈，这么叫显得高大上了有木有?其实就是肉皮......</a></div>
<a class="clear" href="http://home.meishichina.com/pai-824939.html" target="_blank">
<img class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2017/10/12/2017101215077722089319118742.jpg@!c320">
<img class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2017/10/12/2017101215077722096449118742.jpg@!c320">
<img class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2017/10/12/2017101215077722101249118742.jpg@!c320">
<img class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2017/10/12/2017101215077722109819118742.jpg@!c320">
<b>9</b></a>
<div data-id="824939" class="f"></div>
<div class="num"><span></span></div>
</div>
</li>
<li>
<div class="u">
<a href="http://home.meishichina.com/space-10313803.html" target="_blank" title="『壹壹』"><img width="40" height="40" class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/data/avatar/010/31/38/03_avatar_big.jpg@!c120?v=20171012"></a>
<div>
<a href="http://home.meishichina.com/space-10313803.html" class="t" target="_blank" title="『壹壹』">『壹壹』</a>
<span>13分钟前</span>
</div>
</div>
<div class="c clear">
<div class="pp">
<a href="http://home.meishichina.com/pai-824680.html" target="_blank"><strong>戚风蛋糕回落</strong><br>为什么我的戚风蛋糕烤完之后发起来了，烤完之后，无论是马上拿出......</a></div>
<a class="clear" href="http://home.meishichina.com/pai-824680.html" target="_blank">
<img class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2017/10/10/20171010150762685278210313803.jpg@!c320">
<img class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2017/10/10/20171010150762685257510313803.jpg@!c320">
</a>
<div data-id="824680" class="f"></div>
<div class="num"><span></span></div>
</div>
</li>
<li>
<div class="u">
<a href="http://home.meishichina.com/space-8697913.html" target="_blank" title="HI花花儿"><img width="40" height="40" class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/data/avatar/008/69/79/13_avatar_big.jpg@!c120?v=20171012"></a>
<div>
<a href="http://home.meishichina.com/space-8697913.html" class="t" target="_blank" title="HI花花儿">HI花花儿</a>
<span>16分钟前</span>
</div>
</div>
<div class="c clear">
<div class="pp">
<a href="http://home.meishichina.com/pai-824936.html" target="_blank">#早餐#
炸鸡腿~银耳莲子百合薏仁南瓜粥~
哈哈这名字有点长……🌹🌹
早安！</a></div>
<a class="clear" href="http://home.meishichina.com/pai-824936.html" target="_blank">
<img class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2017/10/12/2017101215077723017418697913.jpg@!c320">
<img class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2017/10/12/2017101215077723011778697913.jpg@!c320">
<img class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2017/10/12/2017101215077723024598697913.jpg@!c320">
<img class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2017/10/12/2017101215077723023748697913.jpg@!c320">
<b>6</b></a>
<div data-id="824936" class="f"></div>
<div class="num"><span></span></div>
</div>
</li>
<li>
<div class="u">
<a href="http://home.meishichina.com/space-10326076.html" target="_blank" title="Sunny2691"><img width="40" height="40" class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/data/avatar/010/32/60/76_avatar_big.jpg@!c120?v=20171012"></a>
<div>
<a href="http://home.meishichina.com/space-10326076.html" class="t" target="_blank" title="Sunny2691">Sunny2691</a>
<span>16分钟前</span>
</div>
</div>
<div class="c clear">
<div class="pp">
<a href="http://home.meishichina.com/pai-824940.html" target="_blank"><strong>Morning!</strong><br>早餐，今天的汤黄蛋恰到好处，yummy!</a></div>
<a class="clear" href="http://home.meishichina.com/pai-824940.html" target="_blank">
<img class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2017/10/12/20171012150777377357510326076.jpg@!c320">
<img class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2017/10/12/20171012150777377387810326076.jpg@!c320">
</a>
<div data-id="824940" class="f"></div>
<div class="num"><span></span></div>
</div>
</li>
<li>
<div class="u">
<a href="http://home.meishichina.com/space-8366007.html" target="_blank" title="离幸福很近"><img width="40" height="40" class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/data/avatar/008/36/60/07_avatar_big.jpg@!c120?v=20171012"></a>
<div>
<a href="http://home.meishichina.com/space-8366007.html" class="t" target="_blank" title="离幸福很近">离幸福很近</a>
<span>30分钟前</span>
</div>
</div>
<div class="c clear">
<div class="pp">
<a href="http://home.meishichina.com/pai-824930.html" target="_blank"><strong>天冷了，早饭吃饱一点。</strong><br>自制牛肉干、腐竹炒木耳、花卷、南瓜和八宝粥、水果。</a></div>
<a class="clear" href="http://home.meishichina.com/pai-824930.html" target="_blank">
<img class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2017/10/12/2017101215077701333538366007.jpg@!c320">
</a>
<div data-id="824930" class="f"></div>
<div class="num"><span></span></div>
</div>
</li>
<li>
<div class="u">
<a href="http://home.meishichina.com/space-6941259.html" target="_blank" title="情一诺"><img width="40" height="40" class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/data/avatar/006/94/12/59_avatar_big.jpg@!c120?v=20171012"></a>
<div>
<a href="http://home.meishichina.com/space-6941259.html" class="t" target="_blank" title="情一诺">情一诺</a>
<span>35分钟前</span>
</div>
</div>
<div class="c clear">
<div class="pp">
<a href="http://home.meishichina.com/pai-824938.html" target="_blank">聽美食講故事，用眼睛品美食～～
親們，早安！</a></div>
<a class="clear" href="http://home.meishichina.com/pai-824938.html" target="_blank">
<img class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2017/10/12/2017101215077726692566941259.jpg@!c320">
<img class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2017/10/12/2017101215077726697506941259.jpg@!c320">
</a>
<div data-id="824938" class="f"></div>
<div class="num"><span></span></div>
</div>
</li>
<li>
<div class="u">
<a href="http://home.meishichina.com/space-6941259.html" target="_blank" title="情一诺"><img width="40" height="40" class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/data/avatar/006/94/12/59_avatar_big.jpg@!c120?v=20171012"></a>
<div>
<a href="http://home.meishichina.com/space-6941259.html" class="t" target="_blank" title="情一诺">情一诺</a>
<span>35分钟前</span>
</div>
</div>
<div class="c clear">
<div class="pp">
<a href="http://home.meishichina.com/pai-824810.html" target="_blank">今日午饭～～</a></div>
<a class="clear" href="http://home.meishichina.com/pai-824810.html" target="_blank">
<img class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2017/10/11/2017101115077019163006941259.jpg@!c320">
<img class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2017/10/11/2017101115077019167596941259.jpg@!c320">
<img class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2017/10/11/2017101115077019168376941259.jpg@!c320">
</a>
<div data-id="824810" class="f"></div>
<div class="num"><span></span></div>
</div>
</li>
<li>
<div class="u">
<a href="http://home.meishichina.com/space-8471333.html" target="_blank" title="緣豆兒"><img width="40" height="40" class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/data/avatar/008/47/13/33_avatar_big.jpg@!c120?v=20171012"></a>
<div>
<a href="http://home.meishichina.com/space-8471333.html" class="t" target="_blank" title="緣豆兒">緣豆兒</a>
<span>44分钟前</span>
</div>
</div>
<div class="c clear">
<div class="pp">
<a href="http://home.meishichina.com/pai-824935.html" target="_blank">黑豆鸡汤</a></div>
<a class="clear" href="http://home.meishichina.com/pai-824935.html" target="_blank">
<img class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2017/10/12/2017101215077720968208471333.jpg@!c320">
</a>
<div data-id="824935" class="f"></div>
<div class="num"><span></span></div>
</div>
</li>
<li>
<div class="u">
<a href="http://home.meishichina.com/space-9780188.html" target="_blank" title="谢小兰"><img width="40" height="40" class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/data/avatar/009/78/01/88_avatar_big.jpg@!c120?v=20171012"></a>
<div>
<a href="http://home.meishichina.com/space-9780188.html" class="t" target="_blank" title="谢小兰">谢小兰</a>
<span>47分钟前</span>
</div>
</div>
<div class="c clear">
<div class="pp">
<a href="http://home.meishichina.com/pai-824923.html" target="_blank">马有千里之程，无骑不能自往；人有冲天之志，非运不能腾达！
亲们，早安[调皮][玫瑰]</a></div>
<a class="clear" href="http://home.meishichina.com/pai-824923.html" target="_blank">
<img class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2017/10/12/2017101215077682571749780188.jpg@!c320">
<img class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2017/10/12/2017101215077682587049780188.jpg@!c320">
<img class="imgLoad" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2017/10/12/2017101215077682585339780188.jpg@!c320">
</a>
<div data-id="824923" class="f"></div>
<div class="num"><span></span></div>
</div>
</li>
</ul>
</div>
<div class="ui-page mt20">
<div class="ui-page-inner"><a class='now_page'>1</a>
<a href="http://home.meishichina.com/pai-index-page-2.html">2</a>
<a href="http://home.meishichina.com/pai-index-page-3.html">3</a>
<a href="http://home.meishichina.com/pai-index-page-4.html">4</a>
<a href="http://home.meishichina.com/pai-index-page-5.html">5</a>
<span>...</span>
<a href="http://home.meishichina.com/pai-index-page-2.html">下一页</a>
</div>
</div>
</div>
<div class="space_right">
<a class="r_pai-add" target="_blank" href="http://member.meishichina.com/center/pai-add/">发布话题</a>
<div class="mt20">
<a title="美食天下客户端" href="http://www.meishichina.com/Mobile/" target="_blank">
<script>
document.write('<img width="300" height="600" src="picture/blank.gif" data-src="http://static.meishichina.com/v6/img/center/r'+Math.floor(Math.random()*5)+'.jpg" class="imgLoad">')
</script>
</a>
</div>
</div>
</div>
</div>
<style type="text/css">
.footer-area{padding:10px 0}.footer-area .w{padding-top:10px;border-top:1px solid #e8e8e8}.footer-area a{color:#666}.footer-area a:hover{color:#ff6767}.ft1{clear:none;float:left;font-size:11px;color:#666;width:680px;padding-top:10px}.ft1 .c3b{color:#c90;font-size:14px;font-weight:700;margin-bottom:6px}.ft1 .c3b a{color:#f50}.ft1 .c3c{color:#aaa;font-size:12px;margin-bottom:6px}.ft2,.ft3,.ft4{clear:none;float:right;text-align:center}.ft3{margin:0 25px}
</style>
<div id="J_footer_box" class="footer-area clear">
<div class="w">
<div class="ft1">
<p class="c3b"><a target="_blank" href="http://www.meishichina.com/" title="美食天下 - 让吃更美好">美食天下 - 让吃更美好！</a></p>
<p class="c3c">
<a target="_blank" title="菜谱" href="http://home.meishichina.com/recipe.html">菜谱</a> ·
<a target="_blank" title="食材" href="http://www.meishichina.com/YuanLiao/">食材</a> ·
<a target="_blank" title="美食魔方" href="http://www.meishichina.com/mofang/">魔方</a> ·
<a target="_blank" href="http://www.meishichina.com/minisite/red/" title="关于我们">关于我们</a> ·
<a target="_blank" href="http://www.meishichina.com/minisite/red/contact/" title="联系我们">联系我们</a> ·
<a target="_blank" href="http://www.meishichina.com/minisite/red/joinus/" title="加入我们">加入我们</a> ·
<a target="_blank" href="http://www.meishichina.com/minisite/red/copyright/" title="服务声明">服务声明</a> ·
<a target="_blank" href="http://www.meishichina.com/minisite/red/links/" title="友情链接">友情链接</a> ·
<a target="_blank" href="http://www.meishichina.com/minisite/red/sitemap/" title="网站地图">网站地图</a> ·
<a target="_blank" title="移动应用" href="http://www.meishichina.com/Mobile/">移动应用</a>
</p>
<p>&copy; 2004-2017 美食天下 保留所有权利 - 京ICP证090244号</p>
</div>
<div class="ft4">
<img class="imgLoad" src="picture/weixin.png" title="微信公众号">微信公众号
</div>
<div class="ft3">
<img class="imgLoad" width="82" src="picture/msc_app.png" title="手机客户端">手机客户端
</div>
</div>
</div>
<script type="text/javascript" src="js/all.js"></script>
<script type="text/javascript">
msc.goTop.init();
msc.user.init();
$("img.imgLoad").imgLoad();
$(".search_Text").click(function(){var f=$(this).attr("data-first");if(f=="on"){$(this).val("");$(this).attr("data-first","off")}$(this).removeClass("gay")});$("#search").click(function(){if($("#q").val().replace(/\s+/g,"").replace("　","")!=""){$("#form_search").attr("action","http://home.meishichina.com/search/"+$("#q").val()+"/")}$("#form_search").submit()});$("#q").keydown(function(event){if(event.keyCode==13){if($("#q").val().replace(/\s+/g,"").replace("　","")!=""){$("#form_search").attr("action","http://home.meishichina.com/search/"+$("#q").val()+"/")}}});
</script>
<script>
var inTimer,outTimer;
//绑定鼠标进入事件
$(".pin_list").on("mouseenter","div.c",function(event){
		var that = $(this);

		inTimer = setTimeout(function() {
			if (that.find("div.f").html() == '') {
			var id = that.find("div.f").attr("data-id");


			$.ajax({
type: "GET",
url: "/ajax/ajax.php?ac=commondata&op=get_common_data_num",
data: {
id: id,
type: "pai"
},
dataType: "json",
success: function(d) {
if (d.error === 0){
var islike =(d.data.islike==1)?" on":"";
var isfav=(d.data.isfav==1)?" on":"";
var islogin=(d.data.loginuid==0)?" nologin":"";
that.find("div.f").html('<a href="javascript:void(0);" class="f1'+islike+islogin+'" title="喜欢"><i></i></a>').fadeIn();
that.find("div.num span").html('<b>'+d.data.likenum+'</b>个喜欢，'+d.data.replynum+'条评论').fadeIn();
}


}
});
} 
else{
that.find("div.f").fadeIn();
that.find("div.num span").fadeIn();
}

}, 150);
});

//绑定鼠标离开事件
$(".pin_list").on("mouseleave","div.c",function(event){
		var that = $(this);
		clearTimeout(inTimer);

		outTimer = setTimeout(function() {
			that.find("div.f").fadeOut();
			that.find("div.num span").fadeOut();
			}, 100);

		});

//列表喜欢
$(".pin_list").on("click",".f1",function(){
if($(this).hasClass("on")){
msc.ui.dialog.error("您已经喜欢过该话题!");
return false;
}
else if($(this).hasClass("nologin")){
msc.user.login();
return false;
}
else{
var that =$(this);
$.post('/ajax/ajax.php?ac=pai&op=add_pai', {
pid:that.parent().attr('data-id')
}, function(e) {
if (e.error === 0) {
msc.ui.dialog.success("添加喜欢成功");
that.parent().parent().find("div.num span b").html(parseInt(that.parent().parent().find("div.num span b").html()) + 1);
that.addClass("on");
}
else if(e.error === -1){
msc.ui.dialog.error(e.data);
}
else{
msc.ui.dialog.error('出现异常，请重试');
}

},"json");
}
});


</script>
<script>

$("li.top_bar_more").hoverDelay(function(){
$("li.top_bar_more div").show();
},function(){
$("li.top_bar_more div").hide();
},200,200);

var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?fb9cd9dcdda23cee0c7357db9be24acb";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script>
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script> </body>
</html>
