<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="pragma" content="no-cache" />

<title>美食天下_原创菜谱与美食生活社区，我所有的朋友都是吃货！</title>
<meta name="keywords" content="美食,菜谱,烹饪,家常菜谱大全,美食网,美食天下" />
<meta name="description" content="美食天下是最大的中文美食网站与厨艺交流社区，拥有海量的优质原创美食菜谱，聚集超千万美食家。我所有的朋友都是吃货，欢迎您加入！" />
   
<script type="text/javascript" src="__JS__/jquery-1.8.2.min.js"></script>
    
<link rel="stylesheet" type="text/css" href="__CSS__/login.css" />


<link rel="stylesheet" type="text/css" href="__CSS__/all.css">
<link rel="stylesheet" type="text/css" href="__CSS__/wwwindex2.css">




</head>
<body>
<div class="top-bar" id="J_top_bar">
	<ul class="bar-left left">
	<li><a title="美食天下" href=# target="_blank" class="top_bar_logo"><i>美食天下</i>首页</a></li>
	<li> <a title="菜谱" href="caipu.html" target="_blank">菜谱</a></li>
	<li> <a title="食材" href=food_fenlei.html target="_blank">食材</a></li>

	<li> <a title="健康" href="http://www.meishichina.com/Health/" target="_blank">健康</a></li>
	<li> <a title="vip专区" href="http://www.meishichina.com/mofang/" target="_blank">vip专区</a></li>
	<li> <a title="社区" href="http://home.meishichina.com/" target="_blank">社区</a></li>
	<li> <a title="话题" href="http://home.meishichina.com/pai.html" target="_blank">话题</a></li>

	<li> <a title="搜索" href="" target="_blank">搜索</a></li>

	</ul>

	<div class="right" >
		<ul class="bar-right left" style="padding-right: 50px;">
			<li><a title="注册" class="jumpReg" style="cursor: pointer">注册</a></li>
			<li><a class="jumpLogin" title="登陆" style="cursor: pointer">登陆</a></li>
		</ul>
	</div>
</div>

<div class="login_containter loginWindow" style="position: relative;z-index: 99;display: none;">
        <div class="login_left" style="margin-left: 350px;">
        	<span style="float: right;position: absolute;top:5px;right:20px;font-size: 20px;cursor:pointer;font-weight: bold;" id="closeLogin">X</span>
            <a class="logo" style="cursor:pointer;">味蕾</a>
            <h3><span>登&nbsp;录</span></h3>
            <h4 class="account_login"><a href="javascript:void(0)">手机动态登录<span></span></a></h4>
            <h4 class="phone_login" style="display:none;"><a href="javascript:void(0)">返回账号登录</a></h4>
            <div class="login_validate loginAccunt_validate">
                <div class="input_item">
                    <i class="icon_un"></i>
                    <input type="text" name="username" placeholder="请输入手机/邮箱/用户名"  class="loginName" />
                    <span class="error_info errorloginName errorLogin" style="display:none;"></span>
                </div>
                <div class="input_item">
                    <i class="icon_pw"></i>
                    <input type="password" name="password" class="loginPwd" placeholder="请输入密码" />
                    <span class="error_info errorloginPwd errorLogin" style="display:none;"></span>
                </div>
                <div class="input_item input_item_yzm">
                    <div class="icon_yzm_item">
                        <i class="icon_yzm"></i>
                        <input type="text" name="captcha" class="loginyzm" maxlength="4" placeholder="验证码"  id="loginyzm"  />
                    </div>
                    <div class="yzm_H_item">
                        <div style="float: right;margin-right: 5px;"><img src="{:captcha_src()}" alt="验证码" onclick="this.src=this.src"/></div>
                        <span class="errorloginyzm error_info errorLogin" style="right:-190px;display: none;" ></span>
                    </div>

                </div>
                
                <div class="input_item">
                    <a href="javascript:;" class="login_wjmm">忘记密码?</a>
                </div>
                <div class="input_item">
                    <input type="button" class="loginBtn"  value="登  录" />
                    <span class="error_info errorLogin" style="display:none;"></span>
                </div>
                <div class="input_item f-tac f-pb30">
                    <a href="javascript:void(0)" class="iconQQ" onclick="openQQ();"></a>
                    <a href="javascript:void(0)" class="iconWX" onclick="openWeiXin();"></a>
                    <a href="javascript:void(0)" class="iconWB" onclick="openWeiBo();"></a>
                    <a href="javascript:void(0)" class="iconZFB" onclick="openAliPay();"></a>
                </div>
            </div>
            <div class="login_validate loginPhone_validate" style="display:none;">
                <div class="input_item">
                    <i class="icon_un"></i>
                    <input type="text" name="phone" placeholder="请输入手机号" eg="请输入手机号" class="loginPhone" maxlength="11"  />
                    <span class="error_info errorloginPhone errorLogin" style="display:none;"></span>
                </div>
                <div class="input_item" >
                    <div class="icon_yzm_item">
                        <i class="icon_yzm"></i>
                        <input type="text" name="captcha" class="loginyzm" maxlength="4" placeholder="验证码" id="loginyzmPhone"   />
                    </div>
                    <div class="yzm_H_item">
                     
                        <div style="float: right;margin-right: 5px;"><img src="{:captcha_src()}" alt="验证码" onclick="this.src=this.src"/></div>
                        <span class="errorloginyzm error_info errorLogin" style="display:none;"></span>
                    </div>

                </div>
                <div class="input_item">
                    <div class="icon_dx_item">
                        <i class="icon_dx"></i>
                        <input type="text" name="phoneCode" class="loginCode" placeholder="请输入验证码" eg="请输入验证码" />
                        <span class="errorPhoneCode errorLogin" style="display:none;"></span>
                    </div>
                    <div class="login_sendCode">
                        <input type="button" name="getYzm"  value="发送短信验证码" class="jishi"/>

                    </div>
                    
                </div>
                
                <div class="input_item">
                   
                    <input type="button" class="PhoneloginBtn" value="登  录" />
                     <span class="error_info errorLogin" style="display:none;"></span>
                </div>
                <div class="input_item f-tac f-pb30">
                    <a href="javascript:void(0)" class="iconQQ"></a><a href="javascript:void(0)" class="iconWX"></a><a href="javascript:void(0)" class="iconWB"></a><a href="javascript:void(0)" class="iconZFB"></a>
                </div>
            </div>
            <div class="login_change">
                <p>还没有账号？</p>
                <a class="jumpReg" title="注册" style="cursor: pointer;">注  册</a>
            </div>
        </div>
</div>
<div style="position: relative;z-index: 99;display: none;" class="login_containter regWindow">
	<div class="register">
				<div class="reg-title">立即注册
					<span style="font-size: 10px;color:#ccc;font-weight: normal;">已有账号？<a class="jumpLogin" title="登陆" style="cursor: pointer">立即登陆</a></span>

					<span style="float: right;position: relative;top:3px;right:20px;font-size: 20px;cursor:pointer;font-weight: bold;" id="closeReg">X</span>
				</div>
				<div class="reg-content">
					<form id="regist" >
						<div class="reg-data">
						<span class="rp">*</span><span class="reg-words">用户名：</span>
							<input type="text" name="username" />
							<i style="width: 16px;height: 16px;" class="error"></i>
							 <span class="error_info error" style="display:none;"></span>
						</div>
						<div class="reg-line"></div>
						<div class="reg-data">
						<span class="rp">*</span><span class="reg-words">密码：</span>
							<input type="password" name="password" />
							<i style="width: 16px;height: 16px;" class="error"></i>
							<span class="error_info error" style="display:none;"></span>
						</div>
						<div class="reg-line"></div>
						<div class="reg-data">
						<span class="rp">*</span><span class="reg-words">确认密码：</span>
							<input type="password" name="repwd" />
							<i style="width: 16px;height: 16px;" class="error"></i>
							<span class="error_info error" style="display:none;"></span>
						</div>
						
						<div class="reg-line"></div>
						<div class="reg-data">
						<span class="rp">*</span><span class="reg-words">手机号：</span>
							<input type="text" name="phone" />
							<i style="width: 16px;height: 16px;" class="error"></i>
							<span class="error_info error" style="display:none;"></span>
						</div>
						<div class="reg-line"></div>
						<div class="reg-data">
						<span class="rp">*</span><span class="reg-words">手机验证码：</span>
							<input type="text" name="phoneCode" />

							<input type="button" style="border-radius: 3px;border:1px solid #E3E3E3;background: #F3F5F7;color:#333;outline: none;width: 80;height:30px;margin-left: 10px;width: 100px;cursor: pointer;" class="jishi" value="发送验证码">
							
							<span class="errorPhoneCode error" style="display:none;"></span>
						</div>

						<div class="reg-line"></div>
						<div class="anniu">
							<!-- <button class="reg-anniu" name="submit" value="reg">提  &nbsp;交</button> -->
							<input class="reg-anniu" type="submit" value="提  &nbsp;交" />

							<span  class="tip" style="color:blue;font-size: 18px;font-weight: bold;"></span>
						</div>		
					</form>
				</div>
			</div>
</div>

<div style="position: absolute;z-index: 10;width: 100%;top:0;" id="real_body">
<div class="w logo_wrap2">
	<div class="logo_inner left">
	<a href=# title="美食天下">美食天下</a>
	</div>
	<div class="logo_search right">
		<form id="form_search" action="http://home.meishichina.com/search/" method="post" target="_blank">
		<div class="searchBox J_search"><a href="javascript:;" title="搜索" class="search_Btn J_searchBTN right" id="search">搜索</a><input type="text" id="q" class="search_Text J_searchTxt right gay" data-first="on">
		</div>
		</form>
	</div>
	<div class="logo_nav">
		<a title="首页" href=# class="on" target="_blank">首页</a>
		<a title="菜谱" href="caipu.html" target="_blank">菜谱</a>
		<a title="食材" href=food_fenlei.html target="_blank">食材</a>

		<a title="健康" href="http://www.meishichina.com/Health/" target="_blank">健康</a>
		<a title="vip专区" href="http://www.meishichina.com/mofang/" target="_blank">vip专区</a>
		<a title="社区" href="http://home.meishichina.com/" target="_blank">社区</a>
		<a title="话题" href="http://home.meishichina.com/pai.html" target="_blank">话题</a>
	</div>
</div>
<div class="wrap">
	<div class="w clear">
		<div class="w1">
			<div id="home_index_slider">
				<!-- 轮播图 -->
				<ul>
					<li>
					<a title="“素食”甜品，迎接最美秋天" href="http://www.meishichina.com/mofang/qiujisushitianpin/#hmsr=www&hmpl=index&hmcu=magic&hmkw=D1&hmci=4212" target="_blank"><img src="__PIC__/20160909147338481710613.jpg" srcset="__PIC__/20160909147338481898713.jpg 2x"></a>
					</li>
					<li>
					<a title="秋季补水护肤，想美趁早" href="http://www.meishichina.com/mofang/qiujibushui/#hmsr=www&hmpl=index&hmcu=magic&hmkw=D2&hmci=6712" target="_blank"><img src="__PIC__/20170927150647848071613.jpg" srcset="__PIC__/20170927150647848036813.jpg 2x"></a>
					</li>
					<li>
					<a title="秋天，总有一份对桂花的执念" href="http://www.meishichina.com/mofang/guihuadezuofa/#hmsr=www&hmpl=index&hmcu=magic&hmkw=D3&hmci=6706" target="_blank"><img src="__PIC__/20170925150630476269613.jpg" srcset="__PIC__/20170925150630476378313.jpg 2x"></a>
					</li>
					<li>
					<a title="秋风响，蟹脚痒" href="http://www.meishichina.com/mofang/dazhaxiezuofadaquan/#hmsr=www&hmpl=index&hmcu=magic&hmkw=D4&hmci=6668" target="_blank"><img src="__PIC__/20170919150578617377913.jpg" srcset="__PIC__/20170919150578617373113.jpg 2x"></a>
					</li>
					<li>
					<a title="撒椒" href="http://www.meishichina.com/mofang/sajiao/#hmsr=www&hmpl=index&hmcu=magic&hmkw=D5&hmci=6629" target="_blank"><img src="__PIC__/20170913150527329845913.jpg" srcset="__PIC__/20170913150527329821413.jpg 2x"></a>
					</li>
					<li>
					<a title="地下果：长在地下的精灵们" href="http://www.meishichina.com/mofang/dixiaguo/#hmsr=www&hmpl=index&hmcu=magic&hmkw=D6&hmci=6623" target="_blank"><img src="__PIC__/20170913150529144066413.jpg" srcset="__PIC__/20170913150529144022413.jpg 2x"></a>
					</li>
				</ul>
			</div>
			<div class="w1_1">
			<ul>
				<li class="i1"><a class="la" href="caipu.html#hmsr=www&hmpl=index&hmcu=magicside&hmkw=D1&hmci=D1_main" target="_blank">菜谱大全</a>
					<ul class="sub">
					
					<li><a href="http://home.meishichina.com/recipe/xiaochi/#hmsr=www&hmpl=index&hmcu=magicside&hmkw=D1&hmci=D1_xiaochi" target="_blank">小吃<span>精选11000道</span></a></li>
					<li><a href="http://home.meishichina.com/recipe/jiangpaoyancai/#hmsr=www&hmpl=index&hmcu=magicside&hmkw=D1&hmci=D1_jiangpaoyancai" target="_blank">酱泡腌菜<span>精选700道</span></a></li>
					<li><a href="http://home.meishichina.com/recipe-list-view-elite.html#hmsr=www&hmpl=index&hmcu=magicside&hmkw=D1&hmci=D1_elite" target="_blank">新秀菜谱<span>最新的优秀菜谱</span></a></li>
					<li><a href="http://home.meishichina.com/show-top-type-recipe-order-pop.html#hmsr=www&hmpl=index&hmcu=magicside&hmkw=D1&hmci=D1_pop" target="_blank">人气菜肴<span>超过50人收藏</span></a></li>
					<li><a href="http://home.meishichina.com/recipe-type.html#hmsr=www&hmpl=index&hmcu=magicside&hmkw=D1&hmci=D1_type" target="_blank">所有分类<span>美天的神奇饭盒</span></a></li>
					</ul>
				</li>
				<li class="i2"><a class="la" href="http://www.meishichina.com/YuanLiao/#hmsr=www&hmpl=index&hmcu=magicside&hmkw=D2&hmci=D2_main" target="_blank">食材大全</a>
					<ul class="sub">
					
						<li><a href="http://www.meishichina.com/YuanLiao/category/scl/#hmsr=www&hmpl=index&hmcu=magicside&hmkw=D2&hmci=D2_scl" target="_blank">水产品<span>共288种</span></a></li>
						<li><a href="http://www.meishichina.com/YuanLiao/category/shucailei/#hmsr=www&hmpl=index&hmcu=magicside&hmkw=D2&hmci=D2_shucailei" target="_blank">蔬菜瓜菌<span>共473种</span></a></li>
						<li><a href="http://www.meishichina.com/YuanLiao/category/guopinlei/#hmsr=www&hmpl=index&hmcu=magicside&hmkw=D2&hmci=D2_guopinlei" target="_blank">鲜果干果<span>共196种</span></a></li>
						<li><a href="http://www.meishichina.com/YuanLiao/category/mmdr/#hmsr=www&hmpl=index&hmcu=magicside&hmkw=D2&hmci=D2_mmdr" target="_blank">米面豆乳<span>共180种</span></a></li>
						<li><a href="http://www.meishichina.com/YuanLiao/yingyang/#hmsr=www&hmpl=index&hmcu=magicside&hmkw=D2&hmci=D2_yingyang" target="_blank">营养排行<span>看看谁TOP!</span></a></li>
					</ul>
				</li>
				
				<li class="i4"><a class="la" href="http://www.meishichina.com/mofang/#hmsr=www&hmpl=index&hmcu=magicside&hmkw=D4&hmci=D4_main" target="_blank">vip专区</a>
					<ul class="sub">
						<li><a href="http://home.meishichina.com/collect-list-type-recipe.html#hmsr=www&hmpl=index&hmcu=magicside&hmkw=D4&hmci=D4_collect" target="_blank">菜单<span>由网友创建的专题</span></a></li>
						<li><a href="http://home.meishichina.com/recipe-menu.html#hmsr=www&hmpl=index&hmcu=magicside&hmkw=D4&hmci=D4_menu" target="_blank">家常菜谱<span>居家必备368款</span></a></li>
						<li><a href="http://www.meishichina.com/YuanLiao/gongxiao/#hmsr=www&hmpl=index&hmcu=magicside&hmkw=D4&hmci=D4_gongxiao" target="_blank">食疗食补<span>共212个专题</span></a></li>
						<li class="pic"><a style="margin-top:60px;" href="http://mamapai.meishichina.com/#hmsr=www&hmpl=index&hmcu=magicside&hmkw=D4&hmci=D4_mamapai" target="_blank"><img src="__PIC__/mamapai.jpg" width="165" /></a></li>
						<li class="pic"><a style="margin-top:60px;" href="http://hongbei.meishichina.com/#hmsr=www&hmpl=index&hmcu=magicside&hmkw=D4&hmci=D4_hongbei" target="_blank"><img src="__PIC__/hongbei.jpg" width="165" /></a></li>
					</ul>
				</li>
				<li class="i5"><a class="la" href="http://www.meishichina.com/Mobile/#hmsr=www&hmpl=index&hmcu=magicside&hmkw=D5&hmci=D5_main" target="_blank">健康常识</a>
				<ul class="sub">
				<li class="pic2"><a href="http://www.meishichina.com/Mobile/#hmsr=www&hmpl=index&hmcu=magicside&hmkw=D5&hmci=D5_mobile" target="_blank"><img src="__PIC__/erweima.jpg" width="120" /></a></li>
				<li class="pic2"><a style="margin-top:10px;" href="http://home.meishichina.com/event-340.html#hmsr=www&hmpl=index&hmcu=magicside&hmkw=D5&hmci=D5_340" target="_blank"><img src="__PIC__/tu.jpg" width="390" /></a></li>
				</ul>
				</li>
			</ul>
			</div>
		</div>
		<div class="w2">
			<div id="w2_slider">
				<ul>
					<li>
					<h2>
						<a target="_blank" href="http://home.meishichina.com/collect-5156221.html#hmsr=www&hmpl=index&hmcu=collectbar&hmkw=D1&hmci=6774">自制滋味盖饭
					</a>
					</h2>
					<p>
						<span>绿忆如歌的菜单&nbsp;&nbsp;</span>
						<br>
						自制一份很实在的盖饭，真材实料看得见～光是闻味道就足以让人直咽口水哦！</p>
					</li>
					<li class="mm">
						<h2>
						<a target="_blank" href="http://home.meishichina.com/collect-5221989.html#hmsr=www&hmpl=index&hmcu=collectbar&hmkw=D2&hmci=6771">日常快手菜
						</a>
						</h2>
						<p>
						<span>粉红果果的菜单&nbsp;&nbsp;</span>
						<br>
						简单方便易上手的家常快手菜集合，是不是你最需要的呢？赶紧收藏吧～</p>
						</li>
						<li>
							<h2>
								<a target="_blank" href="http://home.meishichina.com/collect-5294658.html#hmsr=www&hmpl=index&hmcu=collectbar&hmkw=D3&hmci=6763">美味面食集合
								</a>
							</h2>
							<p>
							<span>华尔街晚报的菜单&nbsp;&nbsp;</span>
							<br>
							面食是极具视觉和味觉的艺术，小小的面团却能做出成千上万种美食～</p>
						</li>
					<li>
					<h2>
					<a target="_blank" href="http://home.meishichina.com/collect-5422223.html#hmsr=www&hmpl=index&hmcu=collectbar&hmkw=D4&hmci=6761">高颜值香肠面包
					</a>
					</h2>
					<p>
					<span>云微光的菜单&nbsp;&nbsp;</span>
					<br>
					加了香肠和芝士，普通的白面包，竟然能这么好吃，我一下子吃了三个！
					</p>
					</li>
					<li class="mm">
					<h2>
					<a target="_blank" href="http://home.meishichina.com/collect-5271311.html#hmsr=www&hmpl=index&hmcu=collectbar&hmkw=D5&hmci=6759">鸡肉的做法大全
					</a>
					</h2>
					<p>
					<span>梦痴171338817的菜单&nbsp;&nbsp;</span>
					<br>
					这里有仙女们最爱的鸡肉料理哦～光闻到味道就把持不住口水了有木有～</p>
					</li>
					<li>
					<h2>
					<a target="_blank" href="http://home.meishichina.com/collect-5271301.html#hmsr=www&hmpl=index&hmcu=collectbar&hmkw=D6&hmci=6755">形态各异的面条
					</a>
					</h2>
					<p>
					<span>梦痴171338817的菜单&nbsp;&nbsp;</span>
					<br>
					中国各地有着数以千计的面条品种。下面这么多碗面，你最爱哪一款？ ​</p>
					</li>

				</ul>
			</div>
		</div>
		<div class="w3 clear">
			<div class="w3_1 w3live">
				<div class="ui_title">
				<div class="ui_title_wrap">
				<h2 class="on"><a href="javascript:void(0);">健康</a></h2>
				<h2><a href="javascript:void(0);">食疗</a></h2>
				<a title="健康首页" href="http://www.meishichina.com/Health/" class="right" target="_blank">健康首页</a>
				</div>
				</div>
				<div class="live on">
					<a title="养好血管病自消，常吃5种食物" href="http://www.meishichina.com/mofang/qinglixueguan/" class="w3a" target="_blank"><img src="__PIC__/blank.gif" data-src="__PIC__/20170925150630483372813.jpg" width="310" height="124" class="imgLoad" /></a>
					<ul class="tuijian">
					<li><a title="贴完秋膘减秋膘，快速减掉小肚腩" href="http://www.meishichina.com/Health/Pulchritude/201710/217592.html" target="_blank">贴完秋膘减秋膘，快速减掉小肚腩</a></li>
					<li><a title="秋季养生 记得多吃瓜" href="http://www.meishichina.com/Health/JianKang/201710/217584.html" target="_blank">秋季养生 记得多吃瓜</a></li>
					</ul>
				</div>
				<div class="live">
					<ul class="La3 clear">
					<li><a title="瘦身" href="http://www.meishichina.com/YuanLiao/gongxiao/shoushen/" target="_blank">瘦身</a></li>
					<li><a title="丰胸" href="http://www.meishichina.com/YuanLiao/gongxiao/fengxiong/" target="_blank">丰胸</a></li>
					<li><a title="养颜" href="http://www.meishichina.com/YuanLiao/gongxiao/yangyan/" target="_blank">养颜</a></li>
					<li><a title="排毒" href="http://www.meishichina.com/YuanLiao/gongxiao/paidu/" target="_blank">排毒</a></li>
					<li><a title="补钙" href="http://www.meishichina.com/YuanLiao/gongxiao/bugai/" target="_blank">补钙</a></li>


					</ul>
				</div>
			</div>
			<div class="w3_2 w3live">
				<div class="ui_title">
				<div class="ui_title_wrap">
				<h2 class="on"><a href="javascript:void(0);">烘焙</a></h2>
				<h2><a href="javascript:void(0);">食谱</a></h2>
				<a title="烘焙专区" href="http://hongbei.meishichina.com/" class="right" target="_blank">烘焙专区</a>
				</div>
				</div>
				<div class="live on">
					<a title="面包，我喜欢有嚼劲的！" href="http://www.meishichina.com/mofang/jiaojinmianbao/" class="w3a" target="_blank"><img src="__PIC__/blank.gif" data-src="__PIC__/20170915150544177850013.jpg" width="310" height="124" class="imgLoad" /></a>
					<ul class="tuijian">
						<li><a title="初春の粉红 - 樱花马卡龙" href="http://home.meishichina.com/pai-753201.html" target="_blank">初春の粉红 - 樱花马卡龙</a></li>
						<li><a title="桃花主题美食 - 桃花酥酥" href="http://home.meishichina.com/pai-753256.html" target="_blank">桃花主题美食 - 桃花酥</a></li>

				</div>
				<div class="live">
					<ul class="La3 clear">
						<li><a title="吐司" href="http://hongbei.meishichina.com/recipe/4201565/" target="_blank">吐司</a></li>
						<li><a title="三明治" href="http://hongbei.meishichina.com/recipe/4732307/" target="_blank">三明治</a></li>
						<li><a title="马芬" href="http://hongbei.meishichina.com/recipe/4732369/" target="_blank">马芬</a></li>
						<li><a title="布朗尼" href="http://hongbei.meishichina.com/recipe/4732362/" target="_blank">布朗尼</a></li>
						<li><a title="蛋糕卷" href="http://hongbei.meishichina.com/recipe/4201566/" target="_blank">蛋糕卷</a></li>

					</ul>
				</div>
			</div>
			<div class="w3_3">
				<div class="ui_title">
				<div class="ui_title_wrap">
				<h2 class="on">为您推荐</h2>
				<a href="http://member.meishichina.com/center/my_fav_recipe/" title="我的收藏" class="right" target="_blank">我的收藏</a>
				</div>
				</div>
				<div class="live on">
					<a title="秋雨连绵，5种食物帮你防寒！" href="http://www.meishichina.com/mofang/fanghanshiwu/" class="w3a" target="_blank"><img src="__PIC__/blank.gif" data-src="__PIC__/20171012150777234496113.jpg" width="310" height="124" class="imgLoad" /></a>
					<ul class="tuijian">
					<li><a title="爱上素食 一种更健康的生活方式" href="http://www.meishichina.com/mofang/aishangsushi/" target="_blank">爱上素食 一种更健康的生活方式</a></li>
					<li><a title="划重点！食物降血脂这些更有效" href="http://www.meishichina.com/mofang/shiwujiangxuezhi/" target="_blank">划重点！食物降血脂这些更有效</a></li>

					</ul>
				</div>
			</div>
		</div>
		<div class="w5">
			<div class="ui_title">
				<div class="ui_title_wrap clear">
				<h3 class="on"><a href="javascript:void(0);">新秀菜谱</a></h3>
				<h3><a href="javascript:void(0);">一周热门</a></h3>
				<h3><a href="javascript:void(0);">最受欢迎的家常菜</a></h3>
				<a href="caipu.html" class="right" target="_blank">菜谱首页</a>

				<a href="http://home.meishichina.com/recipe/xiaochi/" title="小吃" class="right" target="_blank">小吃</a>
				<a href="http://home.meishichina.com/recipe/zhushi/" title="主食" class="right" target="_blank">主食</a>
				<a href="http://home.meishichina.com/recipe/tanggeng/" title="汤羹" class="right" target="_blank">汤羹</a>
				<a href="http://home.meishichina.com/recipe/liangcai/" title="凉菜" class="right" target="_blank">凉菜</a>
				<a href="http://home.meishichina.com/recipe/recai/" title="热菜" class="right" target="_blank">热菜</a>
				</div>
			</div>
			<div class="big4_list clear mt10">
			<ul class="on">
				<li>
				<a title="焖烧南瓜" href="http://home.meishichina.com/recipe-352396.html" target="_blank">
				<span class="copyright">独家</span>
				<i>
				<img alt="焖烧南瓜" class="imgLoad" src="__PIC__/blank.gif" data-src="__PIC__/recipe/2017/10/12/20171012150777326335213.jpg@!c640">
				</i>
				<p>焖烧南瓜</p>
				</a>
				<a title="铸味坊" href="http://home.meishichina.com/space-8419178.html" target="_blank" class="u">铸味坊</a>
				</li>
				<li>
				<a title="板栗烧鸡" href="http://home.meishichina.com/recipe-352388.html" target="_blank">
				<i>
				<img alt="板栗烧鸡" class="imgLoad" src="__PIC__/blank.gif" data-src="__PIC__/recipe/2017/10/12/20171012150777240750713.jpg@!c640">
				</i>
				<p>板栗烧鸡</p>
				</a>
				<a title="食趣菜菜屋的屋" href="http://home.meishichina.com/space-10071065.html" target="_blank" class="u">食趣菜菜屋的屋</a>
				</li>
				<li>
				<a title="手工玉米面馒头" href="http://home.meishichina.com/recipe-352378.html" target="_blank">
				<i>
				<img alt="手工玉米面馒头" class="imgLoad" src="__PIC__/blank.gif" data-src="__PIC__/recipe/2017/10/12/20171012150777217438613.jpg@!c640">
				</i>
				<p>手工玉米面馒头</p>
				</a>
				<a title="英英菜谱" href="http://home.meishichina.com/space-6968441.html" target="_blank" class="u">英英菜谱</a>
				</li>
				<li>
				<a title="五彩疙瘩面" href="http://home.meishichina.com/recipe-352384.html" target="_blank">
				<i>
				<img alt="五彩疙瘩面" class="imgLoad" src="__PIC__/blank.gif" data-src="__PIC__/recipe/2017/10/12/20171012150777195435513.jpg@!c640">
				</i>
				<p>五彩疙瘩面</p>
				</a>
				<a title="hb俗人" href="http://home.meishichina.com/space-10224823.html" target="_blank" class="u">hb俗人</a>
				</li>
				<li>
				<a title="梅干菜烧肉" href="http://home.meishichina.com/recipe-352383.html" target="_blank">
				<i>
				<img alt="梅干菜烧肉" class="imgLoad" src="__PIC__/blank.gif" data-src="__PIC__/recipe/2017/10/12/20171012150777128567213.jpg@!c640">
				</i>
				<p>梅干菜烧肉</p>
				</a>
				<a title="清水淡竹" href="http://home.meishichina.com/space-8451954.html" target="_blank" class="u">清水淡竹</a>
				</li>
				<li>
				<a title="天然酵种焦洋葱和香草夏巴塔" href="http://home.meishichina.com/recipe-344947.html" target="_blank">
				<i>
				<img alt="天然酵种焦洋葱和香草夏巴塔" class="imgLoad" src="__PIC__/blank.gif" data-src="__PIC__/recipe/2017/10/12/20171012150777168995313.jpg@!c640">
				</i>
				<p>香草夏巴塔</p>
				</a>
				<a title="食·色" href="http://home.meishichina.com/space-34360.html" target="_blank" class="u">食·色</a>
				</li>

			</ul>
			</div>
		</div>
		<div class="w4">
			<div class="ui_title">
			<div class="ui_title_wrap">
			<h2 class="on"><a title="时令食材" href=food_fenlei.html target="_blank">时令食材</a></h2>
			<a title="食材首页" href=food_fenlei.html target="_blank" class="right">食材首页</a>
			<a title="米面豆乳" href="http://www.meishichina.com/YuanLiao/category/mmdr/" target="_blank" class="right">米面豆乳</a>
			<a title="蔬菜" href="http://www.meishichina.com/YuanLiao/category/shucailei/" target="_blank" class="right">蔬菜</a>
			<a title="水产品" href="http://www.meishichina.com/YuanLiao/category/scl/" target="_blank" class="right">水产品</a>
			<a title="肉禽蛋" href="http://www.meishichina.com/YuanLiao/category/rql/" target="_blank" class="right">肉禽蛋</a>
			</div>
			</div>
			<div class="tui_c">
				<ul>
				<li><a title="芋头" href="http://www.meishichina.com/YuanLiao/YuTou/" target="_blank"><img class="imgLoad" src="__PIC__/blank.gif" data-src="http://i3.meishichina.com/static/shicai/yutou.jpg" />芋头</a><span>治“芋”系清单</span></li>
				<li><a title="南瓜" href="http://www.meishichina.com/YuanLiao/NanGua/" target="_blank"><img class="imgLoad" src="__PIC__/blank.gif" data-src="http://i3.meishichina.com/static/shicai/nangua.jpg" />南瓜</a><span>有点小黄</span></li>


				</ul>
			</div>
		</div>
		<div class="w6">
			<div class="ui_title">
				<div class="ui_title_wrap clear">
				<h3 class="on"><a href="javascript:void(0);">热门话题</a></h3>
				<h3><a href="javascript:void(0);">精华日志</a></h3>
				<a title="社区首页" href="http://home.meishichina.com/" target="_blank" class="right">社区首页</a>
				<a title="全部日志" href="http://home.meishichina.com/blog/" target="_blank" class="right">全部日志</a>
				<a title="全部话题" href="http://home.meishichina.com/pai.html" target="_blank" class="right">全部话题</a>
				</div>
			</div>
			<div class="pin_list clear live on">
				<ul>
				<li>
					<div class="u">
					<a href="http://home.meishichina.com/space-9179877.html" target="_blank"><img width="40" height="40" class="imgLoad" src="__PIC__/blank.gif" data-src="http://i3.meishichina.com/data/avatar/009/17/98/77_avatar_big.jpg@!c120?v=20171012"></a>
					<div>
					<a href="http://home.meishichina.com/space-9179877.html" class="t" target="_blank">老方小雨</a>
					<span>13小时前</span>
					</div>
					</div>
					<div class="c clear">
					<div class="pp"><a href="http://home.meishichina.com/pai-824872.html" target="_blank"><strong>2人、36元、一顿饭，如何？下雨又降温好冷，吃完了一起回家</strong><br>天气预报还真是准呢；降温、有雨，一下子全都来了，昨日还可穿短......</a></div>
					<a class="clear" href="http://home.meishichina.com/pai-824872.html" target="_blank">
					<img class="imgLoad" src="__PIC__/blank.gif" data-src="__PIC__/pai/2017/10/11/2017101115077269613909179877.JPG@!c320">
					<img class="imgLoad" src="__PIC__/blank.gif" data-src="__PIC__/pai/2017/10/11/2017101115077269652219179877.JPG@!c320">
					<img class="imgLoad" src="__PIC__/blank.gif" data-src="__PIC__/pai/2017/10/11/2017101115077269738339179877.JPG@!c320">
					<img class="imgLoad" src="__PIC__/blank.gif" data-src="__PIC__/pai/2017/10/11/2017101115077269736469179877.JPG@!c320">
					<b>6</b></a>
					<span>18个喜欢，14条评论</span>
					</div>
				</li>
				<li class="clear">
					<div class="u">
					<a href="http://home.meishichina.com/space-10244347.html" target="_blank"><img width="40" height="40" class="imgLoad" src="__PIC__/blank.gif" data-src="http://i3.meishichina.com/data/avatar/010/24/43/47_avatar_big.jpg@!c120?v=20171012"></a>
					<div>
					<a href="http://home.meishichina.com/space-10244347.html" class="t" target="_blank">一米阳光612</a>
					<span>16小时前</span>
					</div>
					</div>
					<div class="c clear">
					<div class="pp"><a href="http://home.meishichina.com/pai-824848.html" target="_blank">#美食日记#
					今日菜谱:
					韭菜炒鸡蛋
					麻辣香菇丁
					😄为什么今天又吃香菇呢，因为昨天觉得吃的太好吃了。😂</a></div>
					<a class="clear" href="http://home.meishichina.com/pai-824848.html" target="_blank">
					<img class="imgLoad" src="__PIC__/blank.gif" data-src="__PIC__/pai/2017/10/11/20171011150771887588010244347.jpg@!c320">
					<img class="imgLoad" src="__PIC__/blank.gif" data-src="__PIC__/pai/2017/10/11/20171011150771887594310244347.jpg@!c320">
					<img class="imgLoad" src="__PIC__/blank.gif" data-src="__PIC__/pai/2017/10/11/20171011150771887515010244347.jpg@!c320">
					<img class="imgLoad" src="__PIC__/blank.gif" data-src="__PIC__/pai/2017/10/11/20171011150771887570310244347.jpg@!c320">
					<b>6</b></a>
					<span>21个喜欢，14条评论</span>
					</div>
				</li>
				<li>


				</ul>
			</div>
			<div class="big4_list big4_list2 live clear mt10">
				<ul>
				<li>
				<a title="辣炒南瓜尖" href="http://home.meishichina.com/space-7992337-do-blog-id-1006266.html" target="_blank">
				<i>
				<img alt="辣炒南瓜尖" class="imgLoad" src="__PIC__/blank.gif" data-src="__PIC__/blog/2017/10/09/20171009150755408840813.jpg">
				</i>
				<p>辣炒南瓜尖</p>
				</a>
				<a title="Qiuyue0815" href="http://home.meishichina.com/space-7992337.html" target="_blank" class="u">Qiuyue0815</a>
				</li>

				<li>
				<a title="土豆疯狂打Call，让你回家吃饭，风味土豆丝" href="http://home.meishichina.com/space-8819358-do-blog-id-1006026.html" target="_blank">
				<i>
				<img alt="土豆疯狂打Call，让你回家吃饭，风味土豆丝" class="imgLoad" src="__PIC__/blank.gif" data-src="__PIC__/blog/2017/09/13/20170913150528704019113.jpg">
				</i>
				<p>风味土豆丝</p>
				</a>
				<a title="sourcehe" href="http://home.meishichina.com/space-8819358.html" target="_blank" class="u">sourcehe</a>
				</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="footer-area clear">
	<div class="w">
		<div class="ft1">
			<p class="c3b"><a title="美食天下 - 让吃更美好" href=# target="_blank">美食天下 - 让吃更美好！</a></p>
			<p class="c3c">
			<a target="_blank" href="http://www.meishichina.com/minisite/red/" title="关于我们">关于我们</a> ·
			<a target="_blank" href="http://www.meishichina.com/minisite/red/contact/" title="联系我们">联系我们</a> ·
			<a target="_blank" href="http://www.meishichina.com/minisite/red/joinus/" title="加入我们">加入我们</a> ·
			<a target="_blank" href="http://www.meishichina.com/minisite/red/copyright/" title="服务声明">服务声明</a> ·
			<a target="_blank" href="http://www.meishichina.com/minisite/red/links/" title="友情链接">友情链接</a> ·
			<a target="_blank" href="http://www.meishichina.com/minisite/red/sitemap/" title="网站地图">网站地图</a> ·
			<a target="_blank" title="移动应用" href="http://www.meishichina.com/Mobile/">移动应用</a>
			</p>
		</div>

		<div class="w_links clear">
			<ul>
				<li><strong>友情链接：</strong></li>
				<li><a target="_blank" href="http://life.iqiyi.com/">爱奇艺生活</a></li>
				<li><a target="_blank" href="http://www.appchina.com/">应用汇</a></li>
				<li><a target="_blank" href="http://www.zhms.cn/">中华美食网</a></li>
				<li><a target="_blank" href="http://www.pcbaby.com.cn/">太平洋亲子网</a></li>

			</ul>
		</div>
	</div>
</div>
<div id="J_footer_box" class="footer-info">
	<div class="w">
		<p>
		版权所有 &copy; 2004-2017 <a target="_blank" href=# title="美食天下 - 让吃更美好！">美食天下</a> 保留所有权利 - <img height="14" src="__PIC__/beian.png"> <a rel="nofollow" target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502031041">京公网安备 11010502031041号</a> / 京ICP证090244号 / <a rel="nofollow" target="_blank" href="http://www.miitbeian.gov.cn">京ICP备10020153号</a>
		</p>
		<div class="right">
			<a rel="nofollow" key="5506c2abc274e750d6d26924" logo_size="124x47" logo_type="realname" href="http://v.pinpaibao.com.cn/authenticate/cert/?site=www.meishichina.com&amp;at=realname" target="_blank">
			<img src="__PIC__/sm_124x47.png" alt="安全联盟认证" height="23"></a>
			&nbsp;&nbsp;
			<a rel="nofollow" href="https://ss.knet.cn/verifyseal.dll?sn=2010110200100002761&amp;ct=df&amp;a=1&amp;pa=0.1362082236943738" target="_blank"><img width="64" height="23" src="__PIC__/cnnic.png"></a>
		</div>
	</div>
</div>
</div>
<script type="text/javascript" src="__JS__/all.js"></script>
<script src="__JS__/jquery.sudoslider.min.js" type="text/javascript"></script>
<script type="text/javascript">
	if($('.loginWindow').is(':hidden')){
		$('.errorLogin').each(function(){
			$(this).html(' ').hide();
		});
	}
	//登陆弹出隐藏
	function showLogin() {
		$('.regWindow').hide();
		$('.loginWindow').css("height",$('#real_body').outerHeight());
		
		$('.login_left').css("marginLeft",($('#real_body').width())/3);
		
		$('.loginWindow').show();
	}
	$(".jumpLogin").click(showLogin);
	$('#closeLogin').click(function(){
		$('.loginWindow').hide();
		
	});
	// 关闭登录
	$('.logo').click(function(){
		console.log($('.errorLogin'));
		$('.loginWindow').hide();

	});	
	//切换登陆方式
	//切换
	$(document).on("click",".account_login",function(){
	    $(this).hide();
	    $(this).parent().find("h3").html("<span>手机登录</span>");
	    $(this).parent().find(".error_info").hide();
	    $(".phone_login").show();
	    $(".loginAccunt_validate").hide();
	    $(".loginPhone_validate").show();
	     var myDate = new Date();
	   /* $(this).parents().find("#vCodImgPhone").attr("src", "/Ajax/GetValidateCode?"+ myDate.toLocaleString()).click();*/

	}); 
	$(document).on("click",".phone_login",function(){
	    $(this).hide();
	    $(this).parent().find("h3").html("<span>登录</span>");
	    $(this).parent().find(".error_info").hide();
	    $(".account_login").show();
	    $(".loginPhone_validate").hide();
	    $(".loginAccunt_validate").show();
	});	
	// 注册
	//弹出
	$(".jumpReg").click(function(){
		$('#regist input').nextAll(".error").each(function(i){
			$(this).html(' ').hide();
		});
		//console.log(1);
		$('.loginWindow').hide();
		$('.regWindow').css("height",$('#real_body').outerHeight());
		
		$('.regWindow').show();

	});
	// 关闭注册
	$('#closeReg').click(function(){
		$('#regist input').nextAll(".error").each(function(i){
			$(this).html(' ').hide();
		});
		$('.regWindow').hide();		
	});
	// 手机验证码
	var pcode = 1234;
	var flag = 0;
	$('.jishi').click(function(){
		var num = 10;
		var jishi =null;
		$('.jishi').attr('disabled','disabled');
		if (jishi == null) {
			jishi = setInterval(function(){
				num = num - 1;
				console.log(num);
				if (num >= 0) {
					$('.jishi').attr('value',num + 's后可重发');
				}
				if (num == 0) {
					clearInterval(jishi);
					$('.jishi').removeAttr('disabled');
					$('.jishi').attr('value','发送验证码');
				}			
			},1000);
		}
		/*$.post("{:url('index/user/phoneVer')}",{phone:$('.reg-data input[name=phone]').val()},function(data){
			pcode = data;

		},'json');	*/	
	});
	$('input[name=phoneCode]').blur(function(){
		console.log(pcode);
		if ($(this).val() != pcode){
			$(this).nextAll(".errorPhoneCode").css('color','red').html('手机验证码错误').show();
			$(this).nextAll("i").css({'display':'inline-block','backgroundImg':'url(__IMG__/cross.png)'}).show();
			flag = 1;
		} else {
			$(this).nextAll(".errorPhoneCode").css('color','green').html('通过').show();
			$(this).nextAll("i").css({'display':'inline-block','backgroundImg':'url(__IMG__/cross.png)'}).show();
			flag = 0;
		}
	});
	//登陆注册验证
	$(':input').blur(function(){
		var nowInput = $(this);
		var key1 = $(this).attr('name');
		//console.log(key1);
		var value = $(this).val();
			data = {};
			data[key1] = value;
		if (key1 == 'repwd') {
			data['password'] = $('.reg-data input[name=password]').val();			
		} 
		//console.log(data);
		$.post("{:url('index/user/reg')}",data,function(data){
			//console.log(data);
			if(data){
				nowInput.nextAll(".error_info").css('color','red').text(data).show();
				nowInput.nextAll("i").css({'display':'inline-block','background':'url(__IMG__/cross.png)'}).show();
				if (key1 == 'captcha') {
					$('.errorloginyzm').css('color','red').text(data).show();
				}
				flag = 1;
				if (nowInput.hasClass('loginPhone') && data == "该手机号已注册"){
					nowInput.nextAll(".error_info").css('color','green').html('通过').show();
					flag = 0;
				}
				if (nowInput.hasClass('loginName') && data == "该用户名已存在"){
					nowInput.nextAll(".error_info").css('color','green').html('通过').show();
					flag = 0;
				}
			}else {
				
				nowInput.nextAll(".error_info").css('color','green').html('通过').show();
				nowInput.nextAll("i").css({'display':'inline-block','background':'url(__IMG__/tick.png)'}).show();
				if (key1 == 'captcha') {
					$('.errorloginyzm').css('color','green').text('通过').show();
				}
				flag = 0;
			}
			

		},'json');
	});
	// 点击注册
	$('.reg-anniu').click(function(){
		var data = {};

		$('#regist input').each(function(i){
			//console.log(i);
			nowInput = $(this);
			var key = $(this).attr('name');
		//console.log(key1);
			var value = $(this).val();
			if (value.length == 0){
				nowInput.nextAll(".error_info").css('color','red').text('不能为空').show();
				nowInput.nextAll("i").css({'display':'inline-block','background':'url(__IMG__/cross.png)'}).show();
				flag = 1;
				return false;
			}
			
			data[key] = value;

		});
		//console.log(data);
		if (flag){
			$('.tip').html('注册失败').show();
		} else {
			$.post("{:url('index/user/addUser')}",data,function(data){
				//console.log(data);
				$('.tip').html(data).show();
				if (data == '注册成功'){
					setTimeout(function(){
						$('.regWindow').hide();
						$('.tip').html(' ').hide();
					},3000);
				}
			},'json');
		}		
		return false;
	});
	// 点击登录
	//手机登录
	$('.PhoneloginBtn').click(function(){
		if(flag){
			$('.errorloginPhone').css('color','red').html('手机号不能为空').show();
		}else {

			$.post("{:url('index/user/phoneLogin')}",{phone:$('.loginPhone').val()},function(data){
				if (data){
					console.log('登录成功');
				} else {
					console.log('shibai');
					$('.PhoneloginBtn').next('span').css('color','red').html('登录失败').show();
					setTimeout(function(){
						$('.PhoneloginBtn').next('span').html(' ').hide();
					},3000);
				}
			},'json');
		}		
	});
	// 用户登录
	$('.loginBtn').click(function(){
		console.log($('.loginName').val());
		console.log($('.loginPwd').val());
		console.log(flag);
		if (flag) {

		} else {
			$.post("{:url('index/user/login')}",{username:$('.loginName').val(),password:$('.loginPwd').val()},function(data){
				if (data){
					console.log('登录成功');
				} else {
					console.log('shibai');
					$('.loginBtn').next('span').css('color','red').html('用户名或密码错误').show();
					setTimeout(function(){
						$('.loginBtn').next('span').html(' ').hide();
					},3000);
				}
			},'json');
		}
	});
</script>

<script type="text/javascript">
	msc.user.init();
	$("img.imgLoad").imgLoad();
	msc.goTop.init();

	$(".search_Text").click(function(){
		var f=$(this).attr("data-first");
		if(f=="on"){
			$(this).val("");
			$(this).attr("data-first","off")
		}
			$(this).removeClass("gay")
		});
	$("#search").click(function(){
		if($("#q").val().replace(/\s+/g,"").replace("　","")!=""){
			$("#form_search").attr("action","http://home.meishichina.com/search/"+$("#q").val()+"/")
		}
			$("#form_search").submit()
		});
	$("#q").keydown(function(event){
		if(event.keyCode==13){
			if($("#q").val().replace(/\s+/g,"").replace("　","")!=""){
				$("#form_search").attr("action","http://home.meishichina.com/search/"+$("#q").val()+"/")}
			}
		});

	var sudoSlider = $("#home_index_slider").sudoSlider({continuous: true,
	auto: true,
	effect: "fade",
	speed: '700',
	pause: '3000',
	numeric: true,
	resumePause: 2000,prevHtml:'<a class="prevBtn" href="javascript:void(0);"><i>&nbsp;</i></a>',nextHtml:'<a class="nextBtn" href="javascript:void(0);"><i>&nbsp;</i></a>'});

	var sudoSlider2 = $("#w2_slider").sudoSlider({speed:600,slideCount:3,movecount:3,prevHtml:'<a class="prevBtn" href="javascript:void(0);"><i>&nbsp;</i></a>',nextHtml:'<a class="nextBtn" href="javascript:void(0);"><i>&nbsp;</i></a>',continuous: true});

	$(".w1_1 >ul >li").hover(function(){
	$(this).addClass("on").find(".sub").show();
	},function(){
	$(this).removeClass("on").find(".sub").hide();
	});

	$(".w3live .ui_title_wrap h2 a").click(function(){
			if($(this).parent().hasClass('on'))
			return false;
			else{
			$(this).closest('.w3live').find("h2").removeClass('on');
			$(this).parent().addClass('on');
			$(this).closest('.w3live').find('.live').hide();
			$(this).closest('.w3live').find(".live:eq("+$(this).parent().index()+")").fadeIn();
			}
			});

	$(".w5 .ui_title_wrap h3 a").click(function(){
			if($(this).parent().hasClass('on'))
			return false;
			else{
			$(".w5 .ui_title_wrap h3").removeClass('on');
			$(this).parent().addClass('on');
			$(".w5 ul").hide();
			$(".w5 ul:eq("+$(this).parent().index()+")").fadeIn();
			}
			});

	$(".w6 .ui_title_wrap h3 a").click(function(){
			if($(this).parent().hasClass('on'))
			return false;
			else{
			$(".w6 .ui_title_wrap h3").removeClass('on');
			$(this).parent().addClass('on');
			$(".w6 .live").hide();
			$(".w6 .live:eq("+$(this).parent().index()+")").fadeIn();
			}
			});
</script>
<script type="text/javascript">
	
</script>

</body>
</html>
