<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="pragma" content="no-cache" />

<title>美食天下_原创菜谱与美食生活社区，我所有的朋友都是吃货！</title>
<meta name="keywords" content="美食,菜谱,烹饪,家常菜谱大全,美食网,美食天下" />
<meta name="description" content="美食天下是最大的中文美食网站与厨艺交流社区，拥有海量的优质原创美食菜谱，聚集超千万美食家。我所有的朋友都是吃货，欢迎您加入！" />
   
<script type="text/javascript" src="__JS__/jquery-1.8.2.min.js"></script>
<link rel="stylesheet" type="text/css" href="__CSS__/all.css">
<link rel="stylesheet" type="text/css" href="__CSS__/wwwindex2.css">
</head>
<body>
{include file="public/header"}
<div style="position: absolute;z-index: 10;width: 100%;top:0;" id="real_body">
<div class="w logo_wrap2">
	<div class="logo_inner left">
	<a href="/" title="美食天下">美食天下</a>
	</div>
	<div class="logo_search right">
		<form id="form_search" action="http://home.meishichina.com/search/" method="post" target="_blank">
		<div class="searchBox J_search"><a href="javascript:;" title="搜索" class="search_Btn J_searchBTN right" id="search">搜索</a><input type="text" id="q" class="search_Text J_searchTxt right gay" data-first="on">
		</div>
		</form>
	</div>
	<div class="logo_nav">
		<a title="首页" href="/" class="on" target="_blank">首页</a>
		<a title="菜谱" href="{:url('cai/caipu')}" target="_blank">菜谱</a>
		<a title="食材" href="{:url('shicai/base')}" target="_blank">食材</a>
		<a title="vip专区" href="http://www.meishichina.com/mofang/" target="_blank">vip专区</a>
		<a title="社区" href="{:url('market/rizhi')}" target="_blank">社区</a>
	</div>
</div>
<div class="wrap">
	<div class="w clear">
		<div class="w1">
			<div id="home_index_slider">
				<!-- 轮播图 -->
				<ul>
					{if $move_pic}
					{foreach $move_pic as $value}
					<li>
					<a title="{$value['title']}" href="{$value['link_url']}" target="_blank"><img src="{$value['upurl']}"></a>
					</li>
					{/foreach}
					{/if}
				</ul>
			</div>
			<div class="w1_1">
			<ul>
				<li class="i1"><a class="la" href="{:url('cai/caipu')}" target="_blank">菜谱大全</a>
					<ul class="sub">
					{if $cai_class}
					{foreach $cai_class as $value}					
					{if $value['child_classify']}
					{foreach $value['child_classify'] as $v}					
					<li><a href="{:url('cai/caipu',['status'=>$v['id']])}" target="_blank">{$v['name']}<span></span></a></li>
					{/foreach}
					{/if}				
					{/foreach}
					{/if}
				</ul>
				</li>
				<li class="i2"><a class="la" href="{:url('shicai/base')}" target="_blank">食材大全</a>
					<ul class="sub">
						{if $shi_class}
						{foreach $shi_class as $value}
						<li><a href="{:url('shicai/base',['board_id'=>$value['id']])}" target="_blank">{$value['name']}<span></span></a></li>
						{/foreach}
						{/if}
					</ul>
				</li>
			</ul>
			</div>
		</div>
		<div class="w5">
			<div class="ui_title">
				<div class="ui_title_wrap clear">
				<h3 class="on"><a href="javascript:void(0);">新秀菜谱</a></h3>
				<h3><a href="javascript:void(0);">最受欢迎的家常菜</a></h3>
				<a href="{:url('cai/caipu')}" class="right" target="_blank">菜谱首页</a>

				<!-- <a href="http://home.meishichina.com/recipe/xiaochi/" title="小吃" class="right" target="_blank">小吃</a>
				<a href="http://home.meishichina.com/recipe/zhushi/" title="主食" class="right" target="_blank">主食</a>
				<a href="http://home.meishichina.com/recipe/tanggeng/" title="汤羹" class="right" target="_blank">汤羹</a>
				<a href="http://home.meishichina.com/recipe/liangcai/" title="凉菜" class="right" target="_blank">凉菜</a>
				<a href="http://home.meishichina.com/recipe/recai/" title="热菜" class="right" target="_blank">热菜</a> -->
				</div>
			</div>
			<div class="big4_list clear mt10">
				{if $new_cai}
			<ul class="on">
				{foreach $new_cai as $value}
				<li>
				<a title="{$value['bookname']}" href="{:url('cai/caipu',['cid'=>$value['cid']])}" target="_blank">
					{if condition="$value['status'] == 2"}
				<span class="copyright">推荐</span>
					{/if}
				<i>
				<img alt="{$value['bookname']}" class="imgLoad" src="{$value['photo']}">
				</i>
				<p>{$value['bookname']}</p>
				</a>
				<a title="{$value['username']}" href="{:url('user/userdata',['uid'=>$value['uid']])}" target="_blank" class="u">{$value['username']}</a>
				</li>
				{/foreach}

			</ul>
			{/if}
			{if $like_cai}
			<ul class="on">
				{foreach $like_cai as $value}
				<li>
				<a title="{$value['bookname']}" href="{:url('cai/caipu',['cid'=>$value['cid']])}" target="_blank">
					{if condition="$value['status'] == 2"}
				<span class="copyright">推荐</span>
					{/if}
				<i>
				<img alt="{$value['bookname']}" class="imgLoad" src="{$value['photo']}">
				</i>
				<p>{$value['bookname']}</p>
				</a>
				<a title="{$value['username']}" href="{:url('user/userdata',['uid'=>$value['uid']])}" target="_blank" class="u">{$value['username']}</a>
				</li>
				{/foreach}

			</ul>
			{/if}
			</div>
		</div>
		<div class="w4">
			<div class="ui_title">
			<div class="ui_title_wrap">
			<h2 class="on"><a title="时令食材" href="{:url('shicai/base')}" target="_blank">推荐食材</a></h2>
			<a title="食材首页" href="{:url('shicai/base')}" target="_blank" class="right">食材首页</a>
			{if $shi_class}
			{foreach $shi_class as $value}
			<a title="{$value['name']}" href="{:url('shicai/base',['board_id'=>$value['id']])}" target="_blank" class="right">{$value['name']}</a>
			{/foreach}
			{/if}
			</div>
			</div>
			<div class="tui_c">
				<ul>
					{if $tui_material}
					{foreach $tui_material as $value}
				<li><a title="{$value['name']}" href="{:url('shicai/intro',['fid'=>$value['fid'],'board_id'=>$value['board_id']])}" target="_blank"><img class="imgLoad" src="{$value['img_url']}" />{$value['name']}</a><span></span></li>
				{/foreach}
				{/if}
				</ul>
			</div>
		</div>
		<div class="w6">
			<div class="ui_title">
				<div class="ui_title_wrap clear">
				<h3 class="on"><a href="javascript:void(0);">热门日志</a></h3>
				<h3><a href="javascript:void(0);">精华日志</a></h3>
				<a title="全部日志" href="{:url('market/rizhi')}" target="_blank" class="right">全部日志</a>
				</div>
			</div>
			<div class="pin_list clear live on">
				<ul>
					{if $hot_log}
					{foreach $hot_log as $value}
				<li>
					<div class="u">
					<a href="{:url('user/userdata',['uid'=>$value['u_id']])}" target="_blank"><img width="40" height="40" class="imgLoad" src="{$value['photo']}"></a>
					<div>
					<a href="{:url('user/userdata',['uid'=>$value['u_id']])}" class="t" target="_blank">{$value['username']}</a>
					<span>{$value['create_time']}</span>
					</div>
					</div>
					<div class="c clear">
					<div class="pp"><a href="{:url('market/rizhixiang',['lid'=>$value['lid']])}" target="_blank"><strong><span>{$value['title']}</strong><br>
						<span style="display: none;
					" class="all_content">{$value['logInfo']['content']}</span>
					<span class="showcontent" style="float: left;width: 440px;overflow: hidden;text-overflow: ellipsis;">
					</span></a></div>
					<a class="clear" href="{:url('market/rizhixiang',['lid'=>$value['lid']])}" target="_blank">
					{if condition="!empty($value['all_img'])"}
					{foreach $value['all_img'] as $v}
					<img class="imgLoad" src="{$v}" >
					{/foreach}
					{/if}
					</a>
					<span>{$value['logInfo']['goodnum']}个喜欢，{$value['logInfo']['talknum']}条评论</span>
					</div>
				</li>
				{/foreach}
				{/if}
				
				</ul>
			</div>
			<div class="big4_list big4_list2 live clear mt10">
				<ul>
					{if $tui_log}
					{foreach $tui_log as $value}
				<li>
					<div class="u">
					<a href="{:url('user/userdata',['uid'=>$value['u_id']])}" target="_blank"><img width="40" height="40" class="imgLoad" src="{$value['photo']}"></a>
					<div>
					<a href="{:url('user/userdata',['uid'=>$value['u_id']])}" class="t" target="_blank">{$value['username']}</a>
					<span>{$value['create_time']}</span>
					</div>
					</div>
					<div class="c clear">
					<div class="pp"><a href="{:url('market/rizhixiang',['lid'=>$value['lid']])}" target="_blank"><strong><span>{$value['title']}</strong><br>
					</a></div>
					<a class="clear" href="{:url('market/rizhixiang',['lid'=>$value['lid']])}" target="_blank">
					{if condition="!empty($value['all_img'])"}
					{foreach $value['all_img'] as $v}
					<img class="imgLoad" src="{$v}" >
					{/foreach}
					{/if}
					</a>
					<span>{$value['logInfo']['goodnum']}个喜欢，{$value['logInfo']['talknum']}条评论</span>
					</div>
				</li>
				{/foreach}
				{/if}
				
				</ul>
			</div>
		</div>
		<script type="text/javascript">
			$('.showcontent').each(function(){
				//console.log($(this).prev('.all_content').text());
				$(this).text($(this).prev('.all_content').text());
			});
		</script>
	</div>
</div>
{include file="public/footer"}
</div>
<script type="text/javascript" src="__JS__/all.js"></script>
<script src="__JS__/jquery.sudoslider.min.js" type="text/javascript"></script>


<script type="text/javascript">
	msc.user.init();
	$("img.imgLoad").imgLoad();
	msc.goTop.init();

	$(".search_Text").click(function(){
		var f=$(this).attr("data-first");
		if(f=="on"){
			$(this).val("");
			$(this).attr("data-first","off")
		}
			$(this).removeClass("gay")
		});
	$("#search").click(function(){
		if($("#q").val().replace(/\s+/g,"").replace("　","")!=""){
			$("#form_search").attr("action","http://home.meishichina.com/search/"+$("#q").val()+"/")
		}
			$("#form_search").submit()
		});
	$("#q").keydown(function(event){
		if(event.keyCode==13){
			if($("#q").val().replace(/\s+/g,"").replace("　","")!=""){
				$("#form_search").attr("action","http://home.meishichina.com/search/"+$("#q").val()+"/")}
			}
		});

	var sudoSlider = $("#home_index_slider").sudoSlider({continuous: true,
	auto: true,
	effect: "fade",
	speed: '700',
	pause: '3000',
	numeric: true,
	resumePause: 2000,prevHtml:'<a class="prevBtn" href="javascript:void(0);"><i>&nbsp;</i></a>',nextHtml:'<a class="nextBtn" href="javascript:void(0);"><i>&nbsp;</i></a>'});

	var sudoSlider2 = $("#w2_slider").sudoSlider({speed:600,slideCount:3,movecount:3,prevHtml:'<a class="prevBtn" href="javascript:void(0);"><i>&nbsp;</i></a>',nextHtml:'<a class="nextBtn" href="javascript:void(0);"><i>&nbsp;</i></a>',continuous: true});

	$(".w1_1 >ul >li").hover(function(){
	$(this).addClass("on").find(".sub").show();
	},function(){
	$(this).removeClass("on").find(".sub").hide();
	});

	$(".w3live .ui_title_wrap h2 a").click(function(){
			if($(this).parent().hasClass('on'))
			return false;
			else{
			$(this).closest('.w3live').find("h2").removeClass('on');
			$(this).parent().addClass('on');
			$(this).closest('.w3live').find('.live').hide();
			$(this).closest('.w3live').find(".live:eq("+$(this).parent().index()+")").fadeIn();
			}
			});

	$(".w5 .ui_title_wrap h3 a").click(function(){
			if($(this).parent().hasClass('on'))
			return false;
			else{
			$(".w5 .ui_title_wrap h3").removeClass('on');
			$(this).parent().addClass('on');
			$(".w5 ul").hide();
			$(".w5 ul:eq("+$(this).parent().index()+")").fadeIn();
			}
			});

	$(".w6 .ui_title_wrap h3 a").click(function(){
			if($(this).parent().hasClass('on'))
			return false;
			else{
			$(".w6 .ui_title_wrap h3").removeClass('on');
			$(this).parent().addClass('on');
			$(".w6 .live").hide();
			$(".w6 .live:eq("+$(this).parent().index()+")").fadeIn();
			}
			});
</script>
<script type="text/javascript">
	
</script>

</body>
</html>
