<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>日志_原创美食博客_美食天下</title>
<meta name="keywords" content="日志,美食文章,美食博客,美食原创博客" />
<meta name="description" content="美食天下携千万美食家，为您打造专业权威的美食信息文章，美食日志大全，是您了解美食信息的最佳渠道。" />
<meta name="renderer" content="webkit">
<link rel="shortcut icon" href="http://static.meishichina.com/v6/img/lib/f.ico"/>
<link rel="apple-touch-icon" href="http://static.meishichina.com/v6/img/lib/wapico.png" />
<link rel="stylesheet" type="text/css" href="css/all.css">
<link rel="stylesheet" type="text/css" href="css/all2.css">
<script type="text/javascript" src="js/dfp-list-5.js"></script>
</head>
<body>
<div class="top-bar" id="J_top_bar">
<ul class="bar-left left">
<li><a title="美食天下" href="http://www.meishichina.com/" target="_blank" class="top_bar_logo"><i>美食天下</i>首页</a></li>
<li> <a title="菜谱" href="http://home.meishichina.com/recipe.html" target="_blank">菜谱</a></li>
<li> <a title="食材" href="http://www.meishichina.com/YuanLiao/" target="_blank">食材</a></li>
<li> <a title="珍选" href="http://zhen.meishichina.com/" target="_blank">珍选</a></li>
<li> <a title="健康" href="http://www.meishichina.com/Health/" target="_blank">健康</a></li>
<li> <a title="专题" href="http://www.meishichina.com/mofang/" target="_blank">专题</a></li>
<li> <a title="社区" href="http://home.meishichina.com/" target="_blank">社区</a></li>
<li> <a title="话题" href="http://home.meishichina.com/pai.html" target="_blank">话题</a></li>
<li> <a title="活动" href="http://home.meishichina.com/event/" target="_blank">活动</a></li>
<li> <a title="搜索" href="http://home.meishichina.com/search/" target="_blank">搜索</a></li>
<li class="top_bar_more"><i></i>
<div>
<a title="烘焙" href="http://hongbei.meishichina.com/" target="_blank">烘焙</a>
<a title="妈妈派" href="http://mamapai.meishichina.com/" target="_blank">妈妈派</a>
</div>
</li>
</ul>
<a href="http://www.meishichina.com/Mobile/" target="_blank" class="nr3"><img src="picture/nr3.png" width=18 height=18>客户端<img src="picture/msc_app.png" class="code">
</a>
<div class="right" id="J_top_bar_user"></div>
</div>
<div class="w logo_wrap2">
<div class="logo_inner left">
<a href="http://www.meishichina.com/" title="美食天下">美食天下</a>
</div>
<div class="logo_current left">
<h1><a href="http://home.meishichina.com/" title="社区">社区</a></h1>
</div>
<div class="logo_search right">
<form id="form_search" action="http://home.meishichina.com/search/" method="post" target="_blank">
<div class="searchBox J_search"><a href="javascript:;" title="搜索" class="search_Btn J_searchBTN right" id="search">搜索</a><input type="text" id="q" class="search_Text J_searchTxt right gay" data-first="on">
</div>
</form>
</div>
<div class="logo_nav">
<a href="http://home.meishichina.com/" title="社区广场">社区广场<i></i><b></b></a>
<a href="http://home.meishichina.com/pai.html" title="话题">话题<i></i><b></b></a>
<a class="on" href="http://home.meishichina.com/blog/" title="日志">日志<i></i><b></b></a>
<a href="http://home.meishichina.com/event/" title="活动">活动<i></i><b></b></a>
</div>
</div>
<div class="w nav_wrap2">
<ul>
<li><a class="on" href="http://home.meishichina.com/blog/">精华日志</a></li>
<li><a href="http://home.meishichina.com/blog/all/">最新日志</a></li>
</ul>
</div>
<div class="wrap">
<div class="w clear">
<div class="space_left">
<div class="ui_newlist_1 list_blog get_num" id="J_list">
<ul>
<li data-id="1005439">
<div class="pic">
<a target="_blank" href="http://home.meishichina.com/space-34360-do-blog-id-1005439.html" title="【食·色蛋糕】——黄桃酸奶蛋糕">
<img width="180" height="135" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/blog/2017/10/12/20171012150777100491613.jpg" class="imgLoad">
</a>
</div>
<div class="detail">
<h2>
<a target="_blank" href="http://home.meishichina.com/space-34360-do-blog-id-1005439.html" title="【食·色蛋糕】——黄桃酸奶蛋糕">【食·色蛋糕】——黄桃酸奶蛋糕</a><span class="essence"></span>
</h2>
<p class="subline">2小时前</p>
<p class="subcontent">刚刚发现一个黄桃的新世界，倏忽而来的黄桃却又倏忽而去了。趁着最后一个黄桃，来尝尝这个黄桃的酸奶蛋糕。</p>
<div class="substatus clear">
<span class="get_nums"></span>
</div>
</div>
</li>
<li data-id="1006358">
<div class="pic">
<a target="_blank" href="http://home.meishichina.com/space-8819358-do-blog-id-1006358.html" title="天冷了，来吃碗面吧，营养均衡的豆角焖面">
<img width="180" height="135" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/blog/2017/10/11/20171011150771546616913.jpg" class="imgLoad">
</a>
</div>
<div class="detail">
<h2>
<a target="_blank" href="http://home.meishichina.com/space-8819358-do-blog-id-1006358.html" title="天冷了，来吃碗面吧，营养均衡的豆角焖面">天冷了，来吃碗面吧，营养均衡的豆角焖面</a><span class="essence"></span>
</h2>
<p class="subline">17小时前</p>
<p class="subcontent">天冷了，来吃碗面吧，营养均衡的豆角焖面 天冷了，来吃碗面吧。营养均衡的豆角焖面，顺滑</p>
<div class="substatus clear">
<span class="get_nums"></span>
</div>
</div>
</li>
<li data-id="1006265">
<div class="pic">
<a target="_blank" href="http://home.meishichina.com/space-7992337-do-blog-id-1006265.html" title="鲜虾丝瓜盅">
<img width="180" height="135" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/blog/2017/10/11/20171011150768522953813.jpg" class="imgLoad">
</a>
</div>
<div class="detail">
<h2>
<a target="_blank" href="http://home.meishichina.com/space-7992337-do-blog-id-1006265.html" title="鲜虾丝瓜盅">鲜虾丝瓜盅</a><span class="essence"></span>
</h2>
<p class="subline">2017-10-11</p>
<p class="subcontent">丝瓜翠绿鲜嫩，清香脆甜，具有清热泻火、凉血解毒的功效。（百度）中医认为，丝瓜性凉、味甘，具有清热、解</p>
<div class="substatus clear">
<span class="get_nums"></span>
</div>
</div>
</li>
<li data-id="1005438">
<div class="pic">
<a target="_blank" href="http://home.meishichina.com/space-34360-do-blog-id-1005438.html" title="【食·色面包】——中种黄桃面包">
<img width="180" height="135" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/blog/2017/10/11/20171011150768498065113.jpg" class="imgLoad">
</a>
</div>
<div class="detail">
<h2>
<a target="_blank" href="http://home.meishichina.com/space-34360-do-blog-id-1005438.html" title="【食·色面包】——中种黄桃面包">【食·色面包】——中种黄桃面包</a><span class="essence"></span>
</h2>
<p class="subline">2017-10-11</p>
<p class="subcontent">啃了几天黄桃，忽然想起黄桃其实也可以用来做很多东西。比如面包。虽然似乎关于黄桃的很多西点都是用罐头黄</p>
<div class="substatus clear">
<span class="get_nums"></span>
</div>
</div>
</li>
<li data-id="1005386">
<div class="pic">
<a target="_blank" href="http://home.meishichina.com/space-34360-do-blog-id-1005386.html" title="【食·色面点】——发面版韭菜肉馅饼">
<img width="180" height="135" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/blog/2017/10/10/20171010150759896366413.jpg" class="imgLoad">
</a>
</div>
<div class="detail">
<h2>
<a target="_blank" href="http://home.meishichina.com/space-34360-do-blog-id-1005386.html" title="【食·色面点】——发面版韭菜肉馅饼">【食·色面点】——发面版韭菜肉馅饼</a><span class="essence"></span>
</h2>
<p class="subline">2017-10-10</p>
<p class="subcontent">谁们包饺子剩下的面团和肉馅，看那堆头，得吃好几顿。再用来包饺子就没意思了，饺子都剩了好大一堆。最简单</p>
<div class="substatus clear">
<span class="get_nums"></span>
</div>
</div>
</li>
<li data-id="1006334">
<div class="pic">
<a target="_blank" href="http://home.meishichina.com/space-7355767-do-blog-id-1006334.html" title="菠萝炒饭">
<img width="180" height="135" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/blog/2017/10/10/20171010150759899531313.jpg" class="imgLoad">
</a>
</div>
<div class="detail">
<h2>
<a target="_blank" href="http://home.meishichina.com/space-7355767-do-blog-id-1006334.html" title="菠萝炒饭">菠萝炒饭</a><span class="essence"></span>
</h2>
<p class="subline">2017-10-10</p>
<p class="subcontent">材料：菠萝 1个，米 1杯，洋葱 半个，虾 12个，鸡蛋 2个，青豆 半杯，玉米粒 半杯，胡萝卜丁 1/4杯，椰浆 1</p>
<div class="substatus clear">
<span class="get_nums"></span>
</div>
</div>
</li>
<li data-id="1006266">
<div class="pic">
<a target="_blank" href="http://home.meishichina.com/space-7992337-do-blog-id-1006266.html" title="辣炒南瓜尖">
<img width="180" height="135" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/blog/2017/10/09/20171009150755408840813.jpg" class="imgLoad">
</a>
</div>
<div class="detail">
<h2>
<a target="_blank" href="http://home.meishichina.com/space-7992337-do-blog-id-1006266.html" title="辣炒南瓜尖">辣炒南瓜尖</a><span class="essence"></span>
</h2>
<p class="subline">2017-10-9</p>
<p class="subcontent">南瓜尖是南瓜藤上最嫩的一段，据说能清热解暑哦。主料：南瓜尖350g辅料：小红椒、葱、蒜、花椒、蚝油、酱油</p>
<div class="substatus clear">
<span class="get_nums"></span>
</div>
</div>
</li>
<li data-id="1006302">
<div class="pic">
<a target="_blank" href="http://home.meishichina.com/space-34360-do-blog-id-1006302.html" title="【食·色面包】——火龙果果酱土司卷">
<img width="180" height="135" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/blog/2017/10/09/20171009150751263388413.jpg" class="imgLoad">
</a>
</div>
<div class="detail">
<h2>
<a target="_blank" href="http://home.meishichina.com/space-34360-do-blog-id-1006302.html" title="【食·色面包】——火龙果果酱土司卷">【食·色面包】——火龙果果酱土司卷</a><span class="essence"></span>
</h2>
<p class="subline">2017-10-9</p>
<p class="subcontent">土司与果酱，大概是最经典的搭配。总是涂酱来吃未免有些单调，把涂酱的形式稍微变一变，又是一种惊喜。涂抹</p>
<div class="substatus clear">
<span class="get_nums"></span>
</div>
</div>
</li>
<li data-id="1006308">
<div class="pic">
<a target="_blank" href="http://home.meishichina.com/space-377703-do-blog-id-1006308.html" title="肉片鸡蛋炒青椒">
<img width="180" height="135" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/blog/2017/10/07/20171007150738145224113.jpg" class="imgLoad">
</a>
</div>
<div class="detail">
<h2>
<a target="_blank" href="http://home.meishichina.com/space-377703-do-blog-id-1006308.html" title="肉片鸡蛋炒青椒">肉片鸡蛋炒青椒</a><span class="essence"></span>
</h2>
<p class="subline">2017-10-7</p>
<p class="subcontent">做一道快手菜，下饭菜。辣椒要有辣味的才好吃。适合上班族。原料：青椒，鸡蛋，猪肉片，盐味精，菜，酱油。</p>
<div class="substatus clear">
<span class="get_nums"></span>
</div>
</div>
</li>
<li data-id="1006307">
<div class="pic">
<a target="_blank" href="http://home.meishichina.com/space-377703-do-blog-id-1006307.html" title="煎蛋浓汤云吞">
<img width="180" height="135" src="picture/blank.gif" data-src="http://i3.meishichina.com/attachment/blog/2017/10/07/20171007150738140178013.jpg" class="imgLoad">
</a>
</div>
<div class="detail">
<h2>
<a target="_blank" href="http://home.meishichina.com/space-377703-do-blog-id-1006307.html" title="煎蛋浓汤云吞">煎蛋浓汤云吞</a><span class="essence"></span>
</h2>
<p class="subline">2017-10-7</p>
<p class="subcontent">十一长假接近尾声，天气也降温了，阴沉沉的下了小雨，这时候真的是一场秋雨一场凉。上午收拾冰箱，有一袋子</p>
<div class="substatus clear">
<span class="get_nums"></span>
</div>
</div>
</li>
</ul>
</div>
<div class="ui-page mt10">
<div class="ui-page-inner">
<a class='now_page'>1</a>
<a href="http://home.meishichina.com/blog/page/2/">2</a>
<a href="http://home.meishichina.com/blog/page/3/">3</a>
<a href="http://home.meishichina.com/blog/page/4/">4</a>
<a href="http://home.meishichina.com/blog/page/5/">5</a>
<span>...</span>
<a href="http://home.meishichina.com/blog/page/2/">下一页</a>
</div>
</div>
<div class="mt20 clear">
<div id='div-gpt-ad-1415071902366-0' style='width:300px; height:250px;float:left;'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1415071902366-0'); });
</script>
</div>
<div id='div-gpt-ad-1415071902366-1' style='width:300px; height:250px;float:right'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1415071902366-1'); });
</script>
</div>
</div>
</div>
<div class="space_right">
<div id='div-gpt-ad-1415071902366-2' style='width:300px; height:250px;'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1415071902366-2'); });
</script>
</div>
<div class="ui_title mt20 clear">
<div class="ui_title_wrap">
<h3 class="on">推荐专题</h3>
<a href="http://home.meishichina.com/event.html" class="right" target="_blank">有奖活动</a>
<a href="http://www.meishichina.com/mofang/" class="right" target="_blank">美食专题</a>
</div>
</div>
<div class="sPic2List6 clear">
<div class="Pic"><a href="http://home.meishichina.com/recipe/zizhishicai/" title="涨姿势：这些都能自己做！" target="_blank"><img width="120" height="90" border="0" src="picture/20141010600007.jpg"></a> <a href="http://home.meishichina.com/topic-717.html" title="简单西餐 百变意面" target="_blank"><img width="120" height="90" border="0" src="picture/20141010600006.jpg"></a></div>
<ul>
<li><a href="http://www.meishichina.com/YuanLiao/QiuKui/" title="秋葵的做法大全" target="_blank">我们都是秋葵控</a></li>
<li><a href="http://home.meishichina.com/topic-493.html" title="暖身滋补汤" target="_blank">28款暖身滋补汤</a></li>
<li><a href="http://home.meishichina.com/topic-238.html" title="月经来了该吃什么" target="_blank">"大姨妈"驾到 啥招待</a></li>
<li><a href="http://home.meishichina.com/topic-262.html" title="雾霾天气必备清肺食谱" target="_blank">雾霾必备：清肺食谱</a></li>
<li><a href="http://home.meishichina.com/topic-264.html" title="春节饮食健康" target="_blank">假日饮食健康必读</a></li>
<li><a href="http://home.meishichina.com/topic-480.html" title="换季食疗抗感冒" target="_blank">换季食疗抗感冒</a></li>
</ul>
</div>
<div id='div-gpt-ad-1415071902366-3' style='width:300px; height:250px;margin-top:20px;'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1415071902366-3'); });
</script>
</div>
<div class="ui_title mt20 clear">
<div class="ui_title_wrap">
<h3 class="on" style="margin:0">菜谱大全</h3>
<a href="http://home.meishichina.com/recipe-menu.html" class="right" target="_blank">家常菜</a>
<a href="http://home.meishichina.com/recipe-type.html" class="right" target="_blank">菜谱分类</a>
</div>
</div>
<div class="sPic2 clear">
<ul>
<li><a href="http://home.meishichina.com/topic-416.html" title="上班族快速营养早餐" target="_blank"><img width="140" height="105" border="0" src="picture/20141010600004.jpg"></a></li>
<li class="spic2r"><a href="http://home.meishichina.com/recipe/ertong/" title="儿童菜谱" target="_blank"><img width="140" height="105" border="0" src="picture/20141010600005.jpg"></a></li>
<li><a href="http://home.meishichina.com/topic-736.html" title="秋天吃什么好" target="_blank"><img width="140" height="105" border="0" src="picture/20141010600003.jpg"></a></li>
<li class="spic2r"><a href="http://hongbei.meishichina.com/" title="史上最强的烘焙做法大全" target="_blank"><img width="140" height="105" border="0" src="picture/20141010600002.jpg"></a></li>
</ul>
</div>
<div class="sList4 clear">
<ul>
<li><a href="http://home.meishichina.com/recipe-list.html" title="最新菜谱" target="_blank">最新菜谱</a></li>
<li><a href="http://home.meishichina.com/recipe/recai/" title="热菜菜谱" target="_blank">热菜菜谱</a></li>
<li><a href="http://home.meishichina.com/recipe/liangcai/" title="凉菜菜谱" target="_blank">凉菜菜谱</a></li>
<li><a href="http://home.meishichina.com/recipe/tanggeng/" title="汤羹菜谱" target="_blank">汤羹菜谱</a></li>
<li><a href="http://home.meishichina.com/recipe/zhushi/" title="主食的做法" target="_blank">主食做法</a></li>
<li><a href="http://home.meishichina.com/recipe/xiaochi/" title="小吃的做法大全" target="_blank">小吃大全</a></li>
<li><a href="http://home.meishichina.com/recipe/jiangpaoyancai/" title="泡酱腌菜的做法" target="_blank">泡酱腌菜</a></li>
<li><a href="http://home.meishichina.com/recipe/nianyefan/" title="年夜饭的做法大全" target="_blank">年夜饭</a></li>
<li><a href="http://www.meishichina.com/mofang/hongshaorou/" title="红烧肉的做法" target="_blank">红烧肉</a></li>
<li><a href="http://www.meishichina.com/mofang/yuxiangrousi/" title="鱼香肉丝的做法" target="_blank">鱼香肉丝</a></li>
<li><a href="http://www.meishichina.com/mofang/kelejichi/" title="可乐鸡翅的做法" target="_blank">可乐鸡翅</a></li>
<li><a href="http://www.meishichina.com/mofang/tangcupaigu/" title="糖醋排骨的做法" target="_blank">糖醋排骨</a></li>
<li><a href="http://www.meishichina.com/mofang/hongshaoqiezi/" title="红烧茄子的做法" target="_blank">红烧茄子</a></li>
<li><a href="http://www.meishichina.com/mofang/hongshaopaigu/" title="红烧排骨的做法" target="_blank">红烧排骨</a></li>
<li><a href="http://www.meishichina.com/mofang/gongbaojiding/" title="宫保鸡丁的做法" target="_blank">宫保鸡丁</a></li>
<li><a href="http://www.meishichina.com/mofang/shuizhuroupian/" title="水煮肉片的做法" target="_blank">水煮肉片</a></li>
<li><a href="http://www.meishichina.com/mofang/huiguorou/" title="回锅肉的做法" target="_blank">回锅肉</a></li>
<li><a href="http://www.meishichina.com/mofang/fotiaoqiang/" title="佛跳墙的做法" target="_blank">佛跳墙</a></li>
<li><a href="http://www.meishichina.com/mofang/shuizhuyu/" title="水煮鱼的做法" target="_blank">水煮鱼</a></li>
<li><a href="http://www.meishichina.com/mofang/shousi/" title="寿司的做法" target="_blank">寿司</a></li>
</ul>
</div>
<div id="smnbk" class="mt20"></div>
<div class="keyshow" style="background:#fff;width:300px;">
<div id='div-gpt-ad-1415071902366-4' style='width:300px; height:250px;'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1415071902366-4'); });
</script>
</div>
</div>
</div>
</div>
</div>
<style type="text/css">
.footer-area{padding:10px 0}.footer-area .w{padding-top:10px;border-top:1px solid #e8e8e8}.footer-area a{color:#666}.footer-area a:hover{color:#ff6767}.ft1{clear:none;float:left;font-size:11px;color:#666;width:680px;padding-top:10px}.ft1 .c3b{color:#c90;font-size:14px;font-weight:700;margin-bottom:6px}.ft1 .c3b a{color:#f50}.ft1 .c3c{color:#aaa;font-size:12px;margin-bottom:6px}.ft2,.ft3,.ft4{clear:none;float:right;text-align:center}.ft3{margin:0 25px}
</style>
<div id="J_footer_box" class="footer-area clear">
<div class="w">
<div class="ft1">
<p class="c3b"><a target="_blank" href="http://www.meishichina.com/" title="美食天下 - 让吃更美好">美食天下 - 让吃更美好！</a></p>
<p class="c3c">
<a target="_blank" title="菜谱" href="http://home.meishichina.com/recipe.html">菜谱</a> ·
<a target="_blank" title="食材" href="http://www.meishichina.com/YuanLiao/">食材</a> ·
<a target="_blank" title="美食魔方" href="http://www.meishichina.com/mofang/">魔方</a> ·
<a target="_blank" href="http://www.meishichina.com/minisite/red/" title="关于我们">关于我们</a> ·
<a target="_blank" href="http://www.meishichina.com/minisite/red/contact/" title="联系我们">联系我们</a> ·
<a target="_blank" href="http://www.meishichina.com/minisite/red/joinus/" title="加入我们">加入我们</a> ·
<a target="_blank" href="http://www.meishichina.com/minisite/red/copyright/" title="服务声明">服务声明</a> ·
<a target="_blank" href="http://www.meishichina.com/minisite/red/links/" title="友情链接">友情链接</a> ·
<a target="_blank" href="http://www.meishichina.com/minisite/red/sitemap/" title="网站地图">网站地图</a> ·
<a target="_blank" title="移动应用" href="http://www.meishichina.com/Mobile/">移动应用</a>
</p>
<p>&copy; 2004-2017 美食天下 保留所有权利 - 京ICP证090244号</p>
</div>
<div class="ft4">
<img class="imgLoad" src="picture/weixin.png" title="微信公众号">微信公众号
</div>
<div class="ft3">
<img class="imgLoad" width="82" src="picture/msc_app.png" title="手机客户端">手机客户端
</div>
</div>
</div>
<script type="text/javascript" src="js/all.js"></script>
<script type="text/javascript">	
msc.goTop.init();
msc.user.init();
$("img.imgLoad").imgLoad();
//搜索
$(".search_Text").click(function(){var f=$(this).attr("data-first");if(f=="on"){$(this).val("");$(this).attr("data-first","off")}$(this).removeClass("gay")});$("#search").click(function(){if($("#q").val().replace(/\s+/g,"").replace("　","")!=""){$("#form_search").attr("action","http://home.meishichina.com/search/"+$("#q").val()+"/")}$("#form_search").submit()});$("#q").keydown(function(event){if(event.keyCode==13){if($("#q").val().replace(/\s+/g,"").replace("　","")!=""){$("#form_search").attr("action","http://home.meishichina.com/search/"+$("#q").val()+"/")}}});

	$(window).scroll(function() {
		var omng = $(".keyshow").eq(0).offset();
		var jtl = $("#smnbk").offset();
		if (omng.top < $(document).scrollTop() + 40) {
			$(".keyshow").css({
				position: "fixed",
				top: 40,
				margin: 0,
				left: omng.left
			});
		} else if (omng.top < jtl.top + 10) {
			$(".keyshow").css({
				position: "static",
				margin: "20px 0 0 0"
			});
		}
	});
</script>
<script>

$("li.top_bar_more").hoverDelay(function(){
$("li.top_bar_more div").show();
},function(){
$("li.top_bar_more div").hide();
},200,200);

var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?fb9cd9dcdda23cee0c7357db9be24acb";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script>
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script> </body>
</html>
