<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>综合搜索_味蕾</title>
<link rel="stylesheet" type="text/css" href="__CSS__/all.css">
<link rel="stylesheet" type="text/css" href="__CSS__/all_2.css">
</head>
<body>
{include file="public/header"}
<div class="w clear search_nav">
<div class="nv">
<a class="on" href="{:url('index/search')}">综合</a>
<!-- <a href="{:url('index/search',['type'=>1])}">菜谱</a>
<a href="{:url('index/search',['type'=>0])}">食材</a> -->
</div>
<form id="form_search" action="{:url('index/index/search')}"" method="post">
<div class="searchBox J_search">
<input type="text" id="q" class="search_Text J_searchTxt" value="" autocomplete="off" name="searchContent">
<button href="javascript:;" title="搜索" class="search_Btn J_searchBTN" id="search" style="border: 0;">搜 索</button>
</div>
</form>
</div>
<div class="wrap">
<div class="w clear">
<div class="space_left">
	{if $end_data}
<div class="arinfo clear">
<div class="ui_title mt10">
<div class="ui_title_wrap">
<h2 class="on">{$searchContent}</h2>
</div>
</div>
</div>
<div class="ui_list_1" id="search_res_list">
<ul>
{foreach $end_data as $value}
<li>
<div class="pic">
{if condition="$value['type'] == 1"}
<a href="{:url('cai/recipe',['cid'=>$value['cid']])}" target="_blank">
{else /}
<a href="{:url('market/rizhixiang',['fid'=>$value['fid']])}" target="_blank">
{/if}
<img class="imgLoad" src="__WEB__{$value['photo']}" width="120" height="120" />
</a>
</div>
<div class="detail">
<h4>
	{if condition="$value['type'] == 1"}
	<a href="{:url('cai/recipe',['cid'=>$value['cid']])}" target="_blank">{$value['bookname']}</a> 
	{else /}
	<a href="{:url('market/rizhixiang',['fid'=>$value['fid']])}" target="_blank">{$value['name']}</a> 
	{/if}
</h4>
<span style="display: none;" class="all_content">{$value['content']}</span>
<p class="subcontent"></p>
<div class="substatus clear">
<div class="left"></div>
<div class="right"></div>
</div>
</div>
</li>
{/foreach}
</ul>
<script type="text/javascript">
	$('.subcontent').each(function(){
		//console.log($(this).prev('.all_content').text());
		$(this).text($(this).prev('.all_content').text());
	});
</script>
</div>
{else /}

<div style="font-size: 20px;color: #999;">没有找到相关内容</div>
</div>
{/if}
<div class="space_right">

</div>
</div>
</div>


<script type="text/javascript" src="__JS__/all.js"></script>
<script type="text/javascript">	
msc.goTop.init();
msc.user.init();
$("img.imgLoad").imgLoad();
 /*
$("#search").click(function() {
	if ($("#q").val().replace(/\s+/g, "").replace("　", "") != '') 
	$("#form_search").attr("action", $("#form_search").attr("action")+ $("#q").val() + "/");
	$("#form_search").submit()
});*/
/*$('#q').keydown(function(event) {
	if (event.keyCode == 13) {
		if ($("#q").val().replace(/\s+/g, "").replace("　", "") != '') 
		$("#form_search").attr("action", $("#form_search").attr("action")+ $("#q").val() + "/");
	}
});*/
$(window).scroll(function() {
if($(".space_right").length>0){
var omng = $(".space_right").eq(0).offset();
var jtl = $(".search_nav").eq(0).offset();

if (omng.top < $(document).scrollTop() + 20) {
			$(".space_right").css({
				position: "fixed",
				top:20,
				left: omng.left
			});
}

else if (omng.top < jtl.top + 186) {
			$(".space_right").css({
				position: "static"
			});
		}
}
});
</script>
<script>

$("li.top_bar_more").hoverDelay(function(){
$("li.top_bar_more div").show();
},function(){
$("li.top_bar_more div").hide();
},200,200);

var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?fb9cd9dcdda23cee0c7357db9be24acb";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script>
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script> </body>
</html>
