<div class="footer-area clear">
	<div class="w">
		<div class="ft1">
			<p class="c3b"><a title="美食天下 - 让吃更美好" href=# target="_blank">美食天下 - 让吃更美好！</a></p>
			
		</div>

		<div class="w_links clear">
			<ul>
				<li><strong>友情链接：</strong></li>
				{if $link}
				{foreach $link as $value}
				<li><a target="_blank" href="{$value['url']}">{$value['name']}</a></li>
				{/foreach}
				{/if}
				<!-- <li><a target="_blank" href="http://www.appchina.com/">应用汇</a></li>
				<li><a target="_blank" href="http://www.zhms.cn/">中华美食网</a></li>
				<li><a target="_blank" href="http://www.pcbaby.com.cn/">太平洋亲子网</a></li> -->

			</ul>
		</div>
	</div>
</div>
<div id="J_footer_box" class="footer-info">
	<div class="w">
		<p>
		版权所有 &copy; 2004-2017 <a target="_blank" href=# title="美食天下 - 让吃更美好！">美食天下</a> 保留所有权利 - <img height="14" src="__PIC__/beian.png">/ <a rel="nofollow" target="_blank" href="http://www.miitbeian.gov.cn">{$webdata['ICP']}</a>
		</p>
		
	</div>
</div>